/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* КОНТЕЙНЕР ПРОФИЛЯ */
.container_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #091d20;
}

/*Настройка левой строны*/
.container_profile_optional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 20px;
  height: 100%;
  font-size: 20px;
  font-weight: 500;
  color: #091d20;
  padding-top: 10px;
}

.container_profile_optional p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  margin: 20px 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

/* .container_profile_optional p:hover {
  color: #56ccf2;
  cursor: pointer;
} */

/*  КОНТЕЙНЕР С ФОНОМ ДЛЯ КОНТЕНТА СПРАВА */
.container_profile_content {
  width: 936px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
          box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 30px;
  background: #ffffff;
  margin: 20px 0;
  padding: 30px;
}

.container_profile_content__myItems {
  width: 1125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
          box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 30px;
  background: #ffffff;
  margin: 20px 0;
  padding: 30px;
  min-height: 300px;
}

.container_profile_content input,
select,
option,
textarea {
  padding: 10px;
}

/*КНОПКИ ПЕРЕКЛЮЧЕНИЯ В ЛЕВОЙ СЕКЦИИ*/

/*МОИ ДАННЫЕ - КНОПКА */
.container_profile_optional_myData {
  cursor: pointer;
  color: #56ccf2;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin-top: 30px;
}
.container_profile_optional_myData:hover {
  cursor: pointer;
  color: #56ccf2;
}

/*МОИ АДРЕСА - КНОПКА */
.container_profile_optional_myAddresses {
  cursor: pointer;
  color: #56ccf2;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin-top: 30px;
}
.container_profile_optional_myAddresses:hover {
  cursor: pointer;
  color: #56ccf2;
}
#globaldata_mobile {
  display: none;
}
#swiper_mobile_800 {
  display: none;
}
#globaldata_ipad {
  display: none;
}

/* АДАПТИВНЫЙ ДИЗАЙН */
@media only screen and (max-width: 480px) {
  #globaldata_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #globaldata_pk {
    display: none;
  }

  .container_profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 15px;
  }

  /* БЛОК С ОПЦИЯМИ (ГОРИЗОНТАЛЬНЫЙ СКРОЛ) */
  .container_profile_optional {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    padding-top: 0;
    width: 100%;
    overflow-x: auto;
    font-size: 18px;
    line-height: 21px;
    font-weight: normal;
    margin: 0 15px;
  }
  .container_profile_optional::-webkit-scrollbar {
    width: 0;
  }

  .optional_scroll1 {
    min-width: 120px;
  }
  .optional_scroll2 {
    min-width: 117px;
  }
  .optional_scroll3 {
    min-width: 154px;
  }
  .optional_scroll4 {
    min-width: 92px;
  }
  .optional_scroll1,
  .optional_scroll2,
  .optional_scroll3,
  .optional_scroll4 {
    margin-right: 10px;
  }

  .container_profile_optional p {
    margin-right: 0;
    padding-top: 0px;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .container_profile_content {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 1px;
    margin-top: 0;
    margin: 10px 15px 25px 15px;
  }
}

/* MOBILE LANDSCAPE */
@media only screen and (min-width: 481px) and (max-width: 767px)  {
  #globaldata_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #globaldata_pk {
    display: none;
  }

  .recent-block-wrapper{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container_profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 15px;
  }

  /* БЛОК С ОПЦИЯМИ (ГОРИЗОНТАЛЬНЫЙ СКРОЛ) */
  .container_profile_optional {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    padding-top: 0;
    width: 100%;
    overflow-x: auto;
    font-size: 18px;
    line-height: 21px;
    font-weight: normal;
    margin: 0 15px;
  }
  .container_profile_optional::-webkit-scrollbar {
    width: 0;
  }

  .optional_scroll1 {
    min-width: 120px;
  }
  .optional_scroll2 {
    min-width: 117px;
  }
  .optional_scroll3 {
    min-width: 154px;
  }
  .optional_scroll4 {
    min-width: 92px;
  }
  .optional_scroll1,
  .optional_scroll2,
  .optional_scroll3,
  .optional_scroll4 {
    margin-right: 10px;
  }

  .container_profile_optional p {
    margin-right: 0;
    padding-top: 0px;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .container_profile_content {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 1px;
    margin-top: 0;
    margin: 10px 15px 25px 15px;
  }
}

/*  АДАПТИВ ДЛЯ ЭКРАНОВ до 1024 px  */

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  #globaldata_pk {
    display: none;
  }

  #swiper_mobile_800 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  #globaldata_ipad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .container_profile {
    width: -webkit-fill-available;
  }

  .container_profile_content__myItems {
    width: -webkit-fill-available;
    padding: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}