/* КОНТЕЙНЕР ПРОФИЛЯ */
.container_profile {
  display: flex;
  flex-direction: row;
  color: #091d20;
}

/*Настройка левой строны*/
.container_profile_optional {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
  height: 100%;
  font-size: 20px;
  font-weight: 500;
  color: #091d20;
  padding-top: 10px;
}

.container_profile_optional p {
  display: flex;
  text-align: left;
  margin: 20px 0;
  transition: 0.2s;
}

/* .container_profile_optional p:hover {
  color: #56ccf2;
  cursor: pointer;
} */

/*  КОНТЕЙНЕР С ФОНОМ ДЛЯ КОНТЕНТА СПРАВА */
.container_profile_content {
  width: 936px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 30px;
  background: #ffffff;
  margin: 20px 0;
  padding: 30px;
}

.container_profile_content__myItems {
  width: 1109px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 30px;
  background: #ffffff;
  margin: 20px 0;
  padding: 30px;
}

.container_profile_content input,
select,
option,
textarea {
  padding: 10px;
}

/*КНОПКИ ПЕРЕКЛЮЧЕНИЯ В ЛЕВОЙ СЕКЦИИ*/

/*МОИ ДАННЫЕ - КНОПКА */
.container_profile_optional_myData {
  cursor: pointer;
  color: #56ccf2;
  transition: 0.2s;
  margin-top: 30px;
}
.container_profile_optional_myData:hover {
  cursor: pointer;
  color: #56ccf2;
}

/*МОИ АДРЕСА - КНОПКА */
.container_profile_optional_myAddresses {
  cursor: pointer;
  color: #56ccf2;
  transition: 0.2s;
  margin-top: 30px;
}
.container_profile_optional_myAddresses:hover {
  cursor: pointer;
  color: #56ccf2;
}
#globaldata_mobile{
  display: none;
}







/* АДАПТИВНЫЙ ДИЗАЙН */
@media only screen and (max-width: 480px) {
  #globaldata_mobile{
    display: flex;
  }
  #globaldata_pk{
    display: none;
  }


  .container_profile {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
  }

  /* БЛОК С ОПЦИЯМИ (ГОРИЗОНТАЛЬНЫЙ СКРОЛ) */
  .container_profile_optional {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-top: 0;
    width: 100%;
    overflow-x: auto;
    font-size: 18px;
    line-height: 21px;
    font-weight: normal;
  }
  .container_profile_optional::-webkit-scrollbar{
    width: 0;
  }

  .optional_scroll1{
    min-width: 120px;
  }
  .optional_scroll2{
    min-width: 117px;
  }
  .optional_scroll3{
    min-width: 154px;
  }
  .optional_scroll4{
    min-width: 92px;
  }
  .optional_scroll1,  .optional_scroll2,   .optional_scroll3,   .optional_scroll4{
    margin-right: 10px;
  }

  .container_profile_optional p {
    margin-right: 0;
    padding-top: 0px;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .container_profile_content {
    width: 100%;
    box-shadow: none;
    padding: 1px;
    margin-top: 0;
  }
}
