/* БЛОК 1*/
.content_block1 {
  display: flex;
  flex-direction: row;
}
/*Левая часть блока*/
.content_block1_left {
  margin-right: 10px;
  align-items: flex-start;
}

.block1_left_name {
  font-size: 22px;
  font-weight: 500;
}
.block1_left_privateFace {
  font-size: 18px;
  margin-top: 10px;
}

/*Правая часть блока*/
.content_block1_right {
  align-items: flex-end;
}

.block1_right_watchProfile {
  font-size: 18px;
  margin: 5px 0;
  color: #4cc9f0;
}
.block1_right_watchProfile:hover {
  color: #4cc9f0;
  cursor: pointer;
}

/*БЛОК 2*/
.content_block2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 20px 30px 30px 30px;
  height: auto;
  padding-bottom: 45px;
  padding-top: 10px;
  border-bottom: 1px solid rgba(76, 201, 240, 0.77);
}

/*ФОТО*/
.content_block2_image img {
  width: 80px;
  height: 80px;
}

/*ОТЗЫВЫ и ОЦЕНКИ*/

.block2_reviews_stars img {
  margin: 0 5px;
  color: #f5d32c;
}
.block2_reviews_text {
  font-size: 18px;
  color: #4cc9f0;
}
.block2_reviews_text:hover {
  color: #4cc9f0;
  cursor: pointer;
}

/*ТЕЛЕФОН И ПОЧТА*/

.content_block2_telephone {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.block2_telephone_text {
  margin-right: 8px;
  font-size: 18px;
}

.content_block2_mail {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}
.block2_mail_text {
  font-size: 18px;
  margin-right: 21px;
}

/*НА САЙТЕ - ВРЕМЯ ОТВЕТА*/
.content_block2_online {
  font-size: 18px;
  margin-right: 40px;
}

.content_block2_online_website {
  display: flex;
  flex-direction: row;
}
.online_website_text {
  margin-right: 40px;
}
.online_website_text2 {
  color: #4cc9f0;
}

.content_block2_online_time {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.online_time_text {
  margin-right: 23px;
}
.online_time_text2 {
  color: #4cc9f0;
}

/*Я СДАЮ - Я БЕРУ*/

.content_block2_rent_take {
  font-size: 18px;
}
.rent_take_content1 {
  display: flex;
  flex-direction: row;
}
.rent_take_content1_rent {
  margin: 0 10px 10px 0;
}
.rent_take_content1_number {
  color: #4cc9f0;
}

.rent_take_content2 {
  display: flex;
  flex-direction: row;
}
.rent_take_content2_take {
  margin-right: 12px;
}
.rent_take_content2_number {
  color: #4cc9f0;
}

/*КОНТЕНТ ПОД ПРОФИЛЕМ*/
.content_setting {
  display: flex;
  flex-direction: row;
}

/*ЛЕВАЯ СТОРОНА КОНТЕНТА*/
.content_setting_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.content_setting_left input {
  width: 400px;
  height: 45px;
  background: #ffffff;
  border: 1px solid rgba(9, 29, 32, 0.4);
  box-sizing: border-box;
  border-radius: 7px;
  font-size: 18px;
}

.content_setting_left select,
option {
  font-size: 18px;
  background: #ffffff;
  border: 1px solid rgba(9, 29, 32, 0.4);
  box-sizing: border-box;
  border-radius: 7px;
}

.content_setting_left p {
  margin-bottom: 5px;
}

/*О себе*/
.content_setting_left_AboutMe {
  width: 396px;
  height: 134px;
  resize: none;
  background: #ffffff;
  border: 1px solid rgba(9, 29, 32, 0.4);
  box-sizing: border-box;
  border-radius: 7px;
  font-size: 18px;
}

/*КНОПКА СОХРАНИТЬ*/
.button_download,
.button_download:active,
.button_download:focus {
  width: 228px;
  height: 45px;
  background: #4cc9f0;
  box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.button_download:hover {
  font-weight: bold;
}

/*ПРАВАЯ СТОРОНА - СОЦ СЕТИ*/
.content_setting_right img {
  height: 40px;
  width: 40px;
  margin: 20px 10px 0 0;
}

.mydata-settings-main-content {
  display: flex;
}

.setting_left_input {
  width: 400px;
  height: 45px;
  padding: 5px 40px 5px 15px;
  background: #ffffff;
  border: 1.31722px solid rgba(9, 29, 32, 0.4);
  box-sizing: border-box;
  border-radius: 6.5861px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #091d20;
}

.setting_left_input__password {
  width: 400px;
  height: 45px;
  padding: 5px 40px 5px 15px;
  background: #ffffff;
  border: 1.31722px solid rgba(9, 29, 32, 0.4);
  box-sizing: border-box;
  border-radius: 6.5861px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #091d20;
  padding: 10px 56px 10px 10px !important;
}

.setting_left_input_wrapper {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.settings-profile-form {
  margin-right: 80px;
}

.my-data-settings-header-wrapper {
  display: flex;
  align-items: center;
}
.content_block2_reviews {
  margin-right: 40px;
}

.content_block2_connection {
  margin-right: 40px;
}

.my-data-submitted-img {
  width: 15px;
  height: 14px;
}

.my-data-lower-p {
  align-self: flex-end;
  margin-top: 5px;
  font-size: 20px;
  line-height: 23px;
  color: #4cc9f0;
  cursor: pointer;
}

.my-data-lower-p__password {
  align-self: flex-start;
  margin-top: 5px;
  font-size: 20px;
  line-height: 23px;
  color: #4cc9f0;
  cursor: pointer;
}

.setting_left_input__textarea {
  width: 396px;
  height: 134px;
  background: #ffffff;
  border: 1.31722px solid rgba(9, 29, 32, 0.4);
  box-sizing: border-box;
  border-radius: 6.5861px;
  resize: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: black;
  outline: none;
}

.setting_left_input_wrapper__row {
  display: flex;
}

.setting_left_input__short {
  width: 190px;
  height: 45px;
  padding: 5px 15px 5px 15px;
  background: #ffffff;
  border: 1.31722px solid rgba(9, 29, 32, 0.4);
  box-sizing: border-box;
  border-radius: 6.5861px;
}

.social-contact-enter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
  width: 197px;
  height: 180px;
  padding: 10px;
  background: #ffffff;
  box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #091d20;
}

.social-contact-enter-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-contact-enter-p p {
  width: 180px;
  height: 38px;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #091d20;
}

.social-contact-enter-form input {
  margin-bottom: 10px;
}

.social-contact-enter-text-input {
  width: 177px;
  height: 38px;
  padding: 15px;
  background: #ffffff;
  border: 1.31722px solid #4cc9f0;
  box-sizing: border-box;
  box-shadow: 0px 0px 28.9789px rgba(99, 212, 248, 0.24);
  border-radius: 6.5861px;
}

.social-contact-enter-button-input {
  width: 177px;
  height: 38px;
  padding: 15px;
  background: #4cc9f0;
  box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #091d20;
  cursor: pointer;
}

.content_setting_right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setting_right_socialNetworks_img {
  cursor: pointer;
}

.setting_right_socialNetworks_img.active {
  border: solid 5px #4cc9f0;
  border-radius: 100%;
  padding: 1px;
  box-sizing: border-box;
}

.profile-photo-wrapper {
  position: relative;
}

.profile-photo-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #091d20;
  opacity: 0;
  color: white;
  bottom: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.profile-photo-overlay:hover {
  opacity: 0.6;
}

#profile_mobile {
  display: none;
}
.setting_right_socialNetworks {
  align-self: flex-start;
}

.profile_login_change_wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.my-data-lower-p_login {
  align-self: flex-start;
  margin-top: 5px;
  font-size: 20px;
  line-height: 23px;
  color: #4cc9f0;
  cursor: pointer;
}

.referral_code_wrapper_profile {
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-top: 20px;
}

.referral_code_input_profile {
  margin-left: 5px;
  width: 160px;
  height: 45px;
  padding: 5px 40px 5px 15px;
  background: #ffffff;
  border: 1.31722px solid rgba(9, 29, 32, 0.4);
  box-sizing: border-box;
  border-radius: 6.5861px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #091d20;
}

.social_icons_profile_wrapper {
  display: flex;
  align-self: flex-start;
}

/* АДАПТАЦИЯ ДЛЯ МОБИЛЬНЫХ */
@media only screen and (max-width: 480px) {
  #profile_mobile {
    display: flex;
    flex-direction: column;
  }
  #profile_pk {
    display: none;
  }
  .content_block2_rent_take {
    display: none;
  }
  .block1_right_watchProfile {
    display: none;
  }

  .settings-profile-form {
    width: 100%;
    margin-right: 0px;
  }

  .mydata-settings-main-content {
    flex-direction: column;
  }

  .setting_left_input__password {
    width: 58%;
  }

  /* адаптив v2 */

  /* ФОТО АВАТАРКИ */
  .profile-photo {
    margin-right: 30px;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  }
  .my-data-settings-header-wrapper {
    width: 100%;
    flex-direction: column;
    border-bottom: 1px solid rgba(76, 201, 240, 0.77);
  }
  .content_block2 {
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    border-bottom: 0;
    width: 100%;
    padding: 15px 0;
    justify-content: space-between;
  }
  .block1_left_name {
    font-size: 14px;
    font-weight: 500;
  }
  .block1_left_privateFace {
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
  }
  .content_block2_image {
    width: 80px;
    height: 100px;
    margin-right: 15px;
    display: flex;
    align-self: center;
  }
  .content_block2_reviews {
    margin-top: 5px;
    margin-right: 0;
  }
  .content_block2_reviews img:first-child {
    margin: 0 5px 0 0;
  }
  .content_block2_connection {
    margin: 0;
    width: 59%;
  }
  .content_block2_telephone {
    display: flex;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #123940;
    justify-content: space-between;
    align-items: baseline;
  }
  .my-data-submitted-img {
    width: 12px;
    height: 10px;
  }
  .content_block2_mail {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #123940;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .content_block2_online {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #123940;
    width: 35%;
  }
  .content_block2_online_website {
    display: flex;
    justify-content: space-between;
  }
  .online_website_text {
    margin-right: 0;
  }
  .online_time_text {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .content_block2_online_time {
    display: flex;
    justify-content: space-between;
  }
  .block2_telephone_text {
    font-size: 14px;
    line-height: 16px;
    color: #123940;
    margin-right: 0;
  }
  .block2_mail_text {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16px;
    color: #123940;
    margin-right: 0;
  }
  .block2_reviews_text {
    margin: 5px 0 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }
  .block2_reviews_stars img {
    width: 16px;
    height: 16px;
  }

  /* соц сети и месседжеры */
  .setting_right_socialNetworks {
    display: flex;
    align-self: flex-start;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    width: 100%;
  }
  .content_setting_right {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }
  .content_setting_right img {
    width: 32px;
    height: 32px;
    margin: 10px 0 15px 0;
  }
  .social_icons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  .setting_right_socialNetworks-p {
    margin-right: 5px;
  }

  /* ОПЦИИ - ИНПУТЫ под ШАПКОЙ */
  .setting_left_input_wrapper {
    width: 100%;
    margin: 15px 0;
  }
  .setting_left_input__short {
    width: 100%;
  }
  .setting_left_input-label {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .setting_left_input {
    width: 100%;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
  }
  .my-data-lower-p {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    align-self: flex-end;
  }
  .setting_left_input__textarea {
    width: 100%;
  }
  .my-data-lower-p__password {
    font-size: 18px;
  }
  .button_password_profile {
    margin-bottom: 20px;
  }
  .password-control__profile {
    left: 230px;
  }
  .setting_left_input_row {
    display: flex;
  }
  .profile-photo-overlay {
    top: 0;
  }

  /* КНОПКА СОХРАНИТЬ */
  #button_max_width {
    width: 100%;
  }

  .referral_code_wrapper_profile {
    margin-bottom: 20px;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .referral_code_input_profile {
    margin-left: 0px;
    width: 100%;
  }
}
