/*ГЛАВНАЯ СТРАНИЦА*/

.PlaseItem {
  display: flex;
  justify-content: center;
  font-size: 22px;
  color: rgba(56, 43, 43, 0.8);
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  background: rgba(76, 201, 240, 0.05);
}

/*КОНТЕЙНЕР С КОНТЕНТОМ*/
.conteiner {
  display: block;
  width: 900px;
  height: 100%;
  /*background: linear-gradient(to right, rgba(255, 255, 255, 0.94), rgb(150 141 127));*/
  background: #ffffff;
  box-shadow: 3px 3px 52px rgba(76, 201, 240, 0.24);
  padding: 30px 10px 10px;
  margin: 20px 0;
  font-family: Verdana, Geneva, sans-serif;
  border-radius: 30px;
}

.conteiner h2 {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  text-align: center;
  width: 500px;
  border-radius: 20px;
  color: rgba(56, 43, 43, 0.6);
}

.conteiner div {
  margin: 20px 0;
  display: block;
  font-family: Verdana, Geneva, sans-serif;
}

.conteiner ol {
  padding-left: 20px;
}

.conteiner textarea {
  resize: none;
  padding: 10px;
  width: 470px;
  height: auto;
  min-height: 70px;
  font-size: 17px;
  outline: none;
}

/* ДЛЯ СТРОКИ ДОПОЛНИТЕЛЬНЫЕ ПАРАМЕТРЫ */
#dop_parametr {
  color: indianred;
}

#dop_parametr:hover {
  color: black;
}

/*КНОПКА ОТПРАВКИ */
.button_loading {
  display: flex;
  justify-content: center;
  text-align: center;

  width: 250px;
  height: 30px;
  margin-top: 20px;
  font-style: inherit;
  border-radius: 20px;
  cursor: pointer;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  color: rgba(56, 43, 43, 0.8);
}

.button_loading:hover {
  background: #f01f30;
  font-weight: bold;
}

.conteiner .button_load {
  display: flex;
  justify-content: center;
}

/* ALL INPUTS*/

/* ДЛЯ ЧИСЛОВЫХ ВВОДОВ*/
.input-number {
  width: 105px;
  height: 22px;
  font-size: 18px;
}

/* ДЛЯ ТЕКСТОВЫХ ВВОДОВ*/
.input-text {
  height: 22px;
  font-size: 18px;
  width: 200px;
  padding-left: 5px;
}

/* ДЛЯ ЧЕКБОКСОВ */
.input-checkbox {
  display: inline-block;
  margin-left: 5px;
  width: 17px;
  height: 17px;
  text-align: center;
  cursor: pointer;
}

/*ДЛЯ ФОТО*/
.input-photo .add-item-photo-field {
  display: flex !important;
  padding: 5px;
}

.add-item-photos {
  display: flex !important;
}

.add-item-photo-wrapper {
  position: relative;
  overflow: hidden;
}

.add-item-photo {
  width: 130px;
  height: 90px;
  margin: 5px 5px 0 0;
}

.add-item-photo-wrapper:hover .add-item-photo-remove {
  opacity: 1;
  transition: opacity 0.2s;
}

.add-item-photo-wrapper:hover .add-photo-info {
  bottom: 4px;
  transition: bottom 0.2s;
}

.add-photo-info {
  position: absolute;
  right: 0;
  bottom: -30px;
  left: 0;
  height: 24px;
  font-size: 14px;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.5);
  display: flex !important;
  align-items: center;
  justify-content: flex-end;
  padding: 0 5px;
  transition: bottom 0.2s;
  margin: 0 !important;
}

.add-item-photo-remove {
  opacity: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0 5px 0 0 !important;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.5);
  display: flex !important;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.2s;
}

.upload-file__label {
  padding: 10px;
  position: absolute;
  left: 429px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  border: 2px solid #4cc9f0;
  box-sizing: border-box;
  filter: drop-shadow(6px 6px 30px rgba(99, 212, 248, 0.24));
  border-radius: 5px;
  background: #4cc9f0;
  cursor: pointer;
}

.input_photo {
  opacity: 0;
  z-index: -1;
}

/* ALL SELECT*/

/* ДЛЯ РАЗДЕЛОВ И ПЕРЕЧИСЛЕНИЙ*/
.option-razdel {
  display: inline;
  height: 26px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

/* ДЛЯ ВЫБОРА КОЛ_ВА ЧАСОВ */
.select-clock {
  display: inline-block;
  height: 25px;
  font-size: 18px;
  margin: -1px 5px;
  cursor: pointer;
}

/* SPAN */

.span-zvezda {
  color: red;
  font-size: 25px;
}

.span-valuts {
  font-size: 20px;
  margin: 0 5px;
  color: rgba(243, 2, 2, 0.62);
}

/*>>>>>>> c1e5f603489f2723f82055383cba07427b1b9267*/
