/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*ГЛАВНАЯ СТРАНИЦА*/
* {
  font-family: "Raleway", "sans-serif";
  color: #091d20;
}

.PlaseItem {
  min-width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100%;
  width: 100%;
  height: auto;
  background: rgba(76, 201, 240, 0.05);
}

input {
  outline: none;
}

select {
  outline: none;
  cursor: pointer;
}

/*Стилизация чекбоксов*/
.checkbox-btn {
  margin: 0px 20px 0 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox-btn.secondary {
  margin: 20px 20px 20px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox-btn input[type="checkbox"] {
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}
.checkbox-btn span {
  cursor: pointer;
  padding: 0px 10px;
  line-height: 30px;
  border-radius: 4px;
  -webkit-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
  background: rgba(76, 201, 240, 0.07);
  border: 3px solid rgba(76, 201, 240, 0.09);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 40px 10px 40px;

  color: rgba(9, 29, 32, 0.77);
}

/* Checked */
.checkbox-btn input[type="checkbox"]:checked + span {
  background: rgba(76, 201, 240, 0.44);
  border: 3px solid #4cc9f0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
          box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 5px;
}

/* Hover */
.checkbox-btn:hover {
  color: #666;
}

/* Active */
.checkbox-btn input[type="checkbox"]:active:not(:disabled) + span {
  background: #d2c5ac;
  color: #000;
}

/* Disabled */
.checkbox-btn input[type="checkbox"]:disabled + span {
  background: #efefef;
  color: #666;
  cursor: default;
}
.checkbox-btn input[type="checkbox"]:checked:disabled + span {
  background: #f7efdc;
}

.add-item-input-checkbox__2 {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.add-item-input-checkbox__2x + label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.add-item-input-checkbox__2 + label::before {
  content: "";
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid rgba(76, 201, 240, 1);
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.add-item-input-checkbox__2:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.add-item-ready-sell-wrapper {
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 20px;
}

.add-item-input-checkbox__3 {
  opacity: 0;
  z-index: -1;
  display: block;
  width: 0;
  height: 0;
}

.add-item-input-checkbox__3 + label {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #4cc9f0;
  cursor: pointer;
}

/*стилизация радиокнопок*/
.form_radio_btn {
  display: inline-block;
  margin-right: 10px;
}
.form_radio_btn input[type="radio"] {
  display: none;
}
.form_radio_btn label {
  cursor: pointer;
  padding: 0px 10px;
  line-height: 30px;
  border-radius: 4px;
  -webkit-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
  background: rgba(76, 201, 240, 0.07);
  border: 3px solid rgba(76, 201, 240, 0.09);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 40px 10px 40px;

  color: rgba(9, 29, 32, 0.77);
}

/* Checked */
.form_radio_btn input[type="radio"]:checked + label {
  background: rgba(76, 201, 240, 0.44);
  border: 3px solid #4cc9f0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
          box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 5px;
}

/* Hover */
.form_radio_btn label:hover {
  color: #666;
}

/* Disabled */
.form_radio_btn input[type="radio"]:disabled + label {
  background: #efefef;
  color: #666;
}

/*КОНТЕЙНЕР С КОНТЕНТОМ*/
.conteiner {
  position: relative;
  display: block;
  width: 1150px;
  height: 100%;
  /*background: linear-gradient(to right, rgba(255, 255, 255, 0.94), rgb(150 141 127));*/
  background: #ffffff;
  -webkit-box-shadow: 3px 3px 52px rgba(76, 201, 240, 0.24);
          box-shadow: 3px 3px 52px rgba(76, 201, 240, 0.24);
  padding: 30px 0px 30px 30px;
  margin: 20px 0;
  font-family: "Raleway", sans-serif;
  border-radius: 30px;
}

.conteiner-main-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 20px;
  text-align: center;
  color: #091d20;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.conteiner ol {
  padding-left: 20px;
}

/* ДЛЯ СТРОКИ ДОПОЛНИТЕЛЬНЫЕ ПАРАМЕТРЫ */
#dop_parametr {
  color: indianred;
}

#dop_parametr:hover {
  color: black;
}

/*КНОПКА ОТПРАВКИ */
.button_loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 228px;
  height: 45px;
  margin-top: 20px;
  background: #4cc9f0;
  -webkit-box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
          box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #091d20;
  border: 1px solid transparent;
  cursor: pointer;
}

.button_loading.disabled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 228px;
  height: 45px;
  margin-top: 20px;
  background: #565858;
  -webkit-box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
          box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #091d20;
  border: 1px solid transparent;
  cursor: pointer;
  opacity: 0.6;
}
.conteiner .button_load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-add-cost-choice-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ALL INPUTS*/

/* ДЛЯ ЧИСЛОВЫХ ВВОДОВ*/
.add-item-input-number {
  width: 280px;
  height: 45px;
  padding: 15px;
  background: #ffffff;
  border: 1.31722px solid rgba(9, 29, 32, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6.5861px;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-right: 20px;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.add-item-input-number__secondary {
  width: 90px;
  height: 40px;
  padding: 15px;
  background: #ffffff;
  border: 1.31722px solid rgba(9, 29, 32, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6.5861px;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-right: 20px;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.add-item-input-number:disabled {
  opacity: 0.6;
}

/* ДЛЯ ТЕКСТОВЫХ ВВОДОВ*/
.add-item-input-text {
  font-size: 18px;
  width: 400px;
  height: 45px;
  padding: 15px;
  background: #ffffff;
  border: 1.31722px solid rgba(9, 29, 32, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6.5861px;
}

.add-item-input-text__address {
  font-size: 18px;
  width: 255px;
  height: 45px;
  padding: 15px;
  background: #ffffff;
  border: 1.31722px solid rgba(9, 29, 32, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6.5861px;
}

.add-item-input-text__address__street {
  font-size: 18px;
  width: 400px;
  height: 45px;
  padding: 15px;
  background: #ffffff;
  border: 1.31722px solid rgba(9, 29, 32, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6.5861px;
}

.add-item-input-text__address__house {
  font-size: 18px;
  width: 127px;
  height: 45px;
  padding: 15px;
  background: #ffffff;
  border: 1.31722px solid rgba(9, 29, 32, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6.5861px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.add-item-input-text__address__house__profile {
  font-size: 18px;
  width: 120px;
  height: 45px;
  padding: 15px;
  background: #ffffff;
  border: 1.31722px solid rgba(9, 29, 32, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6.5861px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.add-item-input-text__address__house__profile:disabled {
  font-size: 18px;
  width: 120px;
  height: 45px;
  padding: 15px;
  background: #ffffff;
  border: 1.31722px solid rgba(9, 29, 32, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6.5861px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.6;
}

.add-item-input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  margin-right: 20px;
}

.add-item-input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add-item-input-label {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #091d20;
  margin-bottom: 5px;
}

.add-item-input-label__lower {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #091d20;
  margin-bottom: 5px;
  margin-right: 10px;
}

.add-item-input-label__gurantee {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #091d20;
  margin-bottom: 5px;
  margin-top: 40px;
}

.add-item-textarea {
  width: 400px;
  height: 122px;
  background: #ffffff;
  border: 1.31722px solid #4cc9f0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 28.9789px rgba(99, 212, 248, 0.24);
          box-shadow: 0px 0px 28.9789px rgba(99, 212, 248, 0.24);
  border-radius: 6.5861px;
  resize: none;
  outline: none;
  padding: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 10px;
}

.add-item-select-input {
  width: 400px;
  height: 45px;
  padding: 5px 15px 5px 15px;
  background: #ffffff;
  border: 1.31722px solid rgba(9, 29, 32, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6.5861px;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.add-item-select-input__time {
  width: 156px;
  height: 45px;
  background: #ffffff;
  border: 1.31722px solid rgba(9, 29, 32, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6.5861px;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding: 5px 5px 5px 15px;
  margin-right: 20px;
}

.add-item-cost-or {
  margin-right: 20px;
  font-size: 16px;
  line-height: 19px;
  color: rgba(9, 29, 32, 0.4);
}

/* ДЛЯ ЧЕКБОКСОВ */
.input-checkbox {
  display: inline-block;
  margin-left: 5px;
  width: 17px;
  height: 17px;
  text-align: center;
  cursor: pointer;
}

/*ДЛЯ ФОТО*/
.input-photo .add-item-photo-field {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  padding: 5px;
}

.add-item-photos {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin-top: 20px;
  margin-bottom: 20px;
}

.add-item-photo-wrapper {
  position: relative;
  overflow: hidden;
}

.add-item-photo {
  width: 130px;
  height: 90px;
  margin: 5px 5px 0 0;
}

.add-item-photo-wrapper:hover .add-item-photo-remove {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.add-item-photo-wrapper:hover .add-photo-info {
  bottom: 4px;
  -webkit-transition: bottom 0.2s;
  -o-transition: bottom 0.2s;
  transition: bottom 0.2s;
}

.add-photo-info {
  position: absolute;
  right: 0;
  bottom: -30px;
  left: 0;
  height: 24px;
  font-size: 14px;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.5);
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 5px;
  -webkit-transition: bottom 0.2s;
  -o-transition: bottom 0.2s;
  transition: bottom 0.2s;
  margin: 0 !important;
}

.add-item-photo-remove {
  opacity: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0 5px 0 0 !important;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.5);
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.upload-file__label {
  position: absolute;
  left: 30px;
  padding: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  border: 2px solid #4cc9f0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(6px 6px 30px rgba(99, 212, 248, 0.24));
          filter: drop-shadow(6px 6px 30px rgba(99, 212, 248, 0.24));
  border-radius: 5px;
  background: #4cc9f0;
  cursor: pointer;
}

.input_photo {
  opacity: 0;
  z-index: -1;
  margin-bottom: 20px;
}

/* ALL SELECT*/

/* SPAN */

.add-item-span-zvezda {
  color: red;
  width: 12px;
  height: 23px;
}

.span-valuts {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  font-family: "Raleway";
  color: #091d20;
}

.secondary-parameters {
  margin-top: 20px;
}

.add-item-time-block-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.add-item-select-clock {
  width: 295px;
  height: 45px;
  padding: 5px 5px 5px 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  background: #ffffff;

  border: 1.31722px solid rgba(9, 29, 32, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6.5861px;
}

.add-item-delivery-type-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.take-away-secondary-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.take-away-secondary-wrapper-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.add-item-cost-or__secondary {
  margin: 0 20px 0 20px;
  font-size: 16px;
  line-height: 19px;
  color: rgba(9, 29, 32, 0.4);
}

.add-item-input-number__secondary:disabled {
  opacity: 0.6;
}

.add-item-radio-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.add-item-gurantee-wrapper {
  margin-top: 20px;
}

.add-item-save-new-address-button {
  padding: 10px;
  width: 209px;
  height: 45px;
  background: #4cc9f0;
  -webkit-box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
          box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid transparent;
  margin-bottom: 20px;
  cursor: pointer;
}

.add-item-save-new-address-button.disabled {
  padding: 10px;
  width: 209px;
  height: 45px;
  background: #565858;
  -webkit-box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
          box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid transparent;
  margin-bottom: 20px;
  opacity: 0.6;
}

.add-item-input-text__address__house:disabled {
  opacity: 0.4;
}
.add-item-input-number {
  width: 240px;
  margin-right: 5px;
}
.span-valuts {
  margin-right: 30px;
  margin-bottom: 15px;
  font-size: 16px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
#take_Away_adaptive {
  display: none !important;
}
#br_gl {
  display: none;
}
#item_ipad {
  display: none;
}
#take_Away_ipad {
  display: none;
}

/* МЕДИА ЗАПРОСЫ  */
@media only screen and (max-width: 480px) {
  #take_Away_komp {
    display: none;
  }
  #take_Away_adaptive {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  #br_gl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #item_pk {
    display: none;
  }
  .PlaseItem {
    max-width: 480px;
    min-width: 320px;
    width: 100%;
    height: auto;
  }

  .conteiner {
    max-width: 480px;
    width: 100%;
    background: #ffffff;
    -webkit-box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
            box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
    border-radius: 0px 0px 15px 15px;
    padding: 0;
    margin: 0;
  }

  .conteiner_form {
    margin: 10px 15px 30px;
  }
  .add-item-input-wrapper {
    margin-right: 0;
    /* width: 100%; */
  }
  #add_item_gl_margin {
    margin-right: 10px;
  }
  .add-item-input-text {
    font-size: 16px;
    width: 100%;
  }
  .add-item-select-input {
    width: 100%;
    font-size: 16px;
  }
  .add-item-textarea {
    width: 100%;
    margin-bottom: 0;
    font-size: 16px;
  }
  /* КНОПКА ДОБАВИТЬ ФОТО */
  .input_photo {
    margin-bottom: 10px;
  }
  .add-item-photo {
    max-width: 130px;
    width: 100%;
    max-height: 69px;
    height: 100%;
  }
  .add-item-photo-wrapper {
    width: 20%;
  }
  /* СТОИМОСТЬ ВЕЩИ В АРЕНДУ */
  .item-add-cost-choice-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 15px;
  }
  .add-item-input-label {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
  }
  .add-item-input-number__secondary {
    margin-right: 10px;
  }
  .add-item-input-number {
    max-width: 120px;
    height: 45px;
    margin-bottom: 15px;
  }
  .span-valuts {
    margin-right: 10px;
    margin-bottom: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-weight: normal;
    font-size: 16px;
  }
  .add-item-select-input__time {
    max-width: 120px;
    height: 45px;
    margin-bottom: 15px;
    margin-right: 0;
    font-size: 14px;
  }
  .add-item-cost-or {
    font-size: 14px;
    margin-right: 10px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  /* КНОПКИ ПРЕДЛАГАТЬ ЦЕНУ И БЕСПЛАТНО */
  .checkbox-btn span {
    font-weight: 500;
    font-size: 14px;
    padding: 10px;
  }
  .checkbox-btn {
    height: 45px;
    margin-right: 10px;
  }
  #checkbox-btn1 {
    max-width: 93px;
    height: 45px;
    padding: 10px;
    margin-right: 0;
  }
  #checkbox-btn2 {
    margin-right: 0;
  }
  /* ГОТОВ ПРОДАТЬ */
  .add-item-ready-sell-wrapper {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
  /* ДОБАВИТЬ ДРУГОЙ АДРЕСС И СТРОЧКА ПОД НИМ */
  .add-item-input-checkbox__3 + label {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
  }
  /* КНОПКА ОТПРАВИТЬ */
  .button_loading {
    margin-top: 15px;
  }
  /* НАСТРОЙКИ РАЗМЕРА ОПЦИЙ */
  .content_setting_left option {
    width: 200px;
  }

  /* СТРОКА ДОБАВИТЬ АДРЕС И ФУНКЦИОНАЛ В НЕЙ */

  /* область район пункт */
  .take-away-secondary-wrapper-column {
    width: 100%;
  }
  .take-away-secondary-wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .add-item-input-text__address {
    max-width: 480px;
    width: 100%;
    font-size: 16px;
  }
  .add-item-input-text__address__street {
    width: 100%;
    font-size: 16px;
  }
  /* квартира строение */
  #take-away-secondary-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .add-item-input-text__address__house:last-child {
    margin-right: 0;
  }
  .add-item-input-text__address__house {
    width: 108px;
    margin-right: 10px;
  }
  .add-item-cost-or__secondary {
    margin: 0 10px;
  }

  /* ДОПОЛНИТЕЛЬНЫЙ ПАРАМЕТРЫ РАЗДЕЛ */
  /* время получения возврата */
  .add-item-select-clock {
    width: 167px;
  }
  .add-item-time-block-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .checkbox-btn.secondary {
    margin: 20px 0 0 0;
  }
  .add-item-delivery-type-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .add-item-input-label__lower {
    display: none;
  }
  #checkbox-btn-margin {
    margin-right: 15px;
  }
  .form_radio_btn input[type="radio"]:checked + label {
    padding: 10px;
    font-size: 14px;
  }
  .form_radio_btn label {
    padding: 10px;
  }
  .add-item-photo-remove {
    right: -10px;
  }
}

/*  АДАПТИВ ДЛЯ ЭКРАНОВ до 1024 px  */

@media only screen and (max-width: 1024px) and (min-width: 481px) {
  #item_ipad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #item_pk {
    display: none;
  }
  #take_Away_komp {
    display: none;
  }
  #take_Away_ipad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .PlaseItem {
    width: 100%;
    min-width: auto;
  }

  .conteiner {
    padding: 20px;
    width: -webkit-fill-available;
  }

  .item-add-cost-choice-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 20px;
  }
  .item_arend_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 15px;
  }
  .upload-file__label {
    left: 0;
    margin-left: 20px;
  }
  .take-away-secondary-wrapper{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form_radio_btn input[type="radio"]:checked + label {
    background: rgba(76, 201, 240, 0.44);
    border: 3px solid #4cc9f0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 3px 3px 22px rgb(99 212 248 / 24%);
            box-shadow: 3px 3px 22px rgb(99 212 248 / 24%);
    border-radius: 5px;
}

  /* опции из ДОБАВИТЬ ДРУГОЙ АДРЕС */
  .add-item-input-text__address {
    min-width: 230px;
    max-width: 255px;
    width: auto;
  }
  .add-item-cost-or__secondary {
    margin: 0 20px 15px 20px;
  }
  .add-item-delivery-type-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}