/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* КОНТЕНТ В САМОЙ КАРТОЧКЕ */
.blocks_card_content{
    height: 426px;
}

.blocks_card_content_inner {
    padding: 20px 20px 24px 20px;
    background: #FFFFFF;

    -webkit-box-shadow: 3px 3px 52px rgba(76, 201, 240, 0.14);

            box-shadow: 3px 3px 52px rgba(76, 201, 240, 0.14);
    border-radius: 5px;
}


.blocks_card_content_photo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.blocks_card_social_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 15px 0 10px;
}
.img_socialCar{
    width: 20px;
    height: 13px;
}
.img_socialGold{
    width: 18px;
    height: 16px;
}
.img_socialPaper{
    width: 15px;
    height: 17px;
}
.img_socialVector{
    width: 16px;
    height: 18px;
}
.img_socialFire{
    width: 14px;
    height: 18px;
}
.img_socialDollar{
    width: 18px;
    height: 18px;
}

.blocks_card_text{
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 10px;
    color: #000000;
}
.blocks_card_time{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 10px 0;
}
.blocks_card_time_cost{
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}


.blocks_card_name{
    height: 42px;
    margin-bottom: 10px;
}
.blocks_card_freeTime{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.img_clock_block{
    width: 18px;
    height: 18px;
    margin-right: 6px;
}
.img_love_block{
    width: 20px;
    height: 17px;
    margin-left: 16px;
}

