/* ГЛАВНАЯ СТРАНИЦА ПОИСКА*/
.SearchPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-width: 1409px;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  font-size: 18px;
  background: rgba(76, 201, 240, 0.04);
}
/*КОНТЕЙНЕР С КОНТЕНТОМ*/
.SearchPage_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #091d20;
  border-radius: 30px;
  width: 1180px;
  padding: 0 255px;
}
.SearchPage_container ul li {
  list-style-type: none;
}

/*ШАПКА КОНТЕЙНЕРА */
.SearchPage_container_shapka {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}
.SearchPage_container_shapka div {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  color: #4cc9f0;
}
.SearchPage_container_shapka div:not(:last-child) {
  margin-right: 16px;
}

.SearchPage_container_shapka div p {
  align-items: center;
  text-align: center;
  font-size: 14px;
  color: #4cc9f0;
}
.SearchPage_container_shapka div img {
  margin-left: 7px;
}

.SearchPage_container_shapka_hover:hover {
  cursor: pointer;
  color: #12a3c9;
}

.container_shapka_result {
  margin-left: 50px;
}

/*КОНТЕЙНЕР С ОБЩИМ КОНТЕНТОМ  */
.SearchPage_container_content {
  display: flex;
  flex-direction: row;
}
/* ДЛЯ ВСЕХ ЧЕКБОКСОВ СЛЕВА*/
.input_left_checkbox {
  width: 18px;
  height: 18px;
  border: 1px solid rgba(9, 29, 32, 0.4);
  margin-right: 7px;
  box-sizing: border-box;
  padding: 2px 2px 2px 20px;
}

/*ЛЕВАЯ СТОРОНА КОНТЕНТА - КАТЕГОРИИ И ТД*/
.SearchPage_container_content_left {
  width: 286px;
}
.SearchPage_container_content_left select {
  outline: none;
}
.SearchPage_container_content_left ul {
  display: flex;
  flex-direction: column;
  width: 285px;
}
.SearchPage_container_content_left ul li {
  display: flex;
  flex-direction: row;
}
.SearchPage_container_content_left ul li:not(:last-child) {
  margin-bottom: 20px;
}

/* ДЛЯ ВСЕХ ЛИ В ВВИДЕ СЕЛЕКТА*/
.content_left_optional_li {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #091d20;
  cursor: pointer;
}

.content_left_optional_li__sub {
  font-weight: 500;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #091d20;
  margin-top: 10px;
  cursor: pointer;
}
.content_left_optional_li__sub.active {
  font-weight: 500;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #4cc9f0;
  margin-top: 10px;
  cursor: pointer;
}
.content_left_optional_li img {
  margin-left: 10px;
}
.content_left_optional_li img:hover {
  cursor: pointer;
}

/* СЛОВО ЦЕНА */
.content_left_cost {
  margin-bottom: 10px;
}
/*Цена от и до*/
.content_left_priceRange {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 5px;
}

.content_left_priceRange label {
  font-size: 14px;
  margin: 0 10px;
}
.content_left_priceRange input {
  width: 110px;
  height: 35px;
  border: 1px solid rgba(9, 29, 32, 0.4);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0 0 0 10px;
}

/*ПРАВАЯ СТОРОНА КОНТЕНТА - КАРТОЧКИ */
.SearchPage_container_content_right {
  width: 100%;
}

/*ШАПКА ПРАВОЙ СТОРОНЫ*/
.content_right_shapka {
  display: flex;
  flex-direction: row;
}
.shapka_top {
  display: flex;
  flex-direction: row;
  margin-bottom: 22px;
}

.content_right_shapka p {
  margin-right: 40px;
  font-size: 16px;
}
.content_right_shapka_watchMap {
  color: #4cc9f0;
}
.content_right_shapka_watchMap:hover {
  cursor: pointer;
  font-weight: 600;
}

/*КОНТЕЙНЕР КОНТЕНТА ПОД ШАПКОЙ*/
.content_right_all_content {
  display: flex;
  flex-direction: column;
}

/* ГЛОБАЛЬНЫЕ НАСТРОЙКИ БЛОКОВ для КАРТОЧЕК*/
.all_content_blocks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  min-width: 890px;
  margin-bottom: 60px;
}

/* КАРТОЧКА ТОВАРА ГЛОБАЛЬНАЯ НАСТРОЙКА*/
.content_blocks_card {
  width: 33.33333%;
  height: 390px;
  background: #ffffff;
  box-shadow: 3px 3px 52px rgba(76, 201, 240, 0.14);
  border-radius: 5px;
  padding: 20px;
  color: rgba(9, 29, 32, 0.8);
}
.content_blocks_card:not(:last-child) {
  margin-right: 30px;
}
/* ДЛЯ карты*/
.content_blocks_map_img {
  margin-bottom: 60px;
}
/*ДЛЯ переключения страниц*/
.content_blocks_number_page {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.content_blocks_number_page div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 327px;
}
.content_blocks_number_page img {
  width: 6px;
  height: 10px;
}
.content_blocks_number_page p:hover {
  cursor: pointer;
  color: #4cc9f0;
}

.distance_p {
  cursor: pointer;
}

.distance_p.active {
  color: #4cc9f0;
}

.search_not_found {
  width: 90%;
  height: 465px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#search_mobile {
  display: none;
}

/* АДАПТИВНЫЙ ДИЗАЙН */
@media only screen and (max-width: 480px) {
  #search_pk {
    display: none;
  }
  #search_mobile {
    display: flex;
  }

  /* ОБЩИЙ ГЛОБАЛЬНЫЙ БЛОК */
  .SearchPage {
    min-width: auto;
  }
  .SearchPage_container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .SearchPage_container_content {
    display: flex;
    flex-direction: column;
  }

  /* ПУТЬ И ШАПКА */
  .SearchPage_container_shapka {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 15px;
    align-items: inherit;
  }
  .SearchPage_shapka_up {
    display: flex;
    flex-direction: row;
  }
  .container_shapka_result {
    margin-left: 0;
    margin-top: 10px;
  }
  .shapka_top {
    flex-direction: column;
    margin: 0 15px 0 15px;
    width: 100%;
  }
  .shapka_top_up {
    display: flex;
    flex-direction: row;
  }
  .search_top_up_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .distance_p.active {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .content_right_shapka p {
    margin-bottom: 10px;
    margin-right: 15px;
  }

  /* ЛЕВЫЙ БЛОК */
  .SearchPage_container_content_left {
    width: 100%;
    background: #ffffff;
    margin: 0 15px;
  }
  .SearchPage_container_content_left ul {
    /* margin: 15px 15px 20px; */
    width: 100%;
  }
  .SearchPage_container_content_left ul li:not(:last-child) {
    margin-bottom: 15px;
  }
  .content_left_cost {
    margin-bottom: -15px;
  }
  .content_left_priceRange input {
    max-width: 154px;
    width: 100%;
    height: 45px;
  }

  /* КАРТОЧКИ - ОБЩИЙ БЛОК */
  .all_content_blocks {
    height: auto;
    min-width: auto;
    flex-direction: column;
    margin: 15px 0 30px 0;
  }
  .search_map {
    width: 100%;
    height: 300px;
  }
  /* сама карточка */
  .recent-block {
    margin: 10px 10px 10px;
    width: auto;
    max-height: 310px;
    height: 100%;
  }
  .all_content_blocks_up {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .all_content_blocks_down {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .recent-marks {
    display: flex;
    justify-content: space-between;
  }
  .card-mark:not(:last-child) {
    margin-right: 0;
  }
  .block-image {
    height: auto;
  }
  .card_div {
    width: 50%;
  }
  /* NOT FOUND - если карточка не найдена */
  .search_not_found {
    height: auto;
    padding: 0 15px;
    width: initial;
  }
}
