/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*РАЗМЕР КОНТЕЙНЕРА */
.container_myAddresses_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  font-size: 20px;
  font-weight: 400;
}

/*ЛЕВАЯ СТОРОНА КОНТЕНТА - 1 АДРЕС*/
.myAddresses_content_addresses_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: auto;
  margin-top: 20px;
}
.myAddresses_content_addresses_left li:not(:last-child) {
  margin-bottom: 20px;
}

/* адрес с вектором*/
.addresses_left_address1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.addresses_left_address1_text {
  font-weight: 500;
  color: #4cc9f0;
  margin-right: 7px;
}

/*ДОМ / КОРПУС / КВАРТИРА*/
.addresses_left_address1_house {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.addresses_left_address1_house input {
  width: 120px;
  height: 45px;
  background: #ffffff;
  border: 1px solid rgba(9, 29, 32, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 7px;
  margin-top: 5px;
}
.addresses_left_address1_house img {
  width: 15px;
  height: 15px;
}
.addresses_left_address1_house div:not(:last-child) {
  margin-right: 20px;
}

/*ФРАЗА ДОБАВИТЬ ЕЩЕ АДРЕС*/
.address1_house_add_addresses {
  color: #4cc9f0;
  font-weight: 500;
  margin-top: 20px;
}
.addresses_left_address1_house img,
.address1_house_add_addresses:hover {
  cursor: pointer;
  font-weight: 650;
}

/*КНОПКА СОХРАНИТЬ*/
.button_download,
.button_download:active,
.button_download:focus {
  width: 228px;
  height: 45px;
  background: #4cc9f0;
  -webkit-box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
          box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.button_download:hover {
  font-weight: bold;
}








/* АДАПТИВНЫЙ ДИЗАЙН */

@media only screen and (max-width:480px){

  .myAddresses_content_addresses_left{
    width: 100%;
  }

  .addresses_left_address1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 15px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .address_row_style{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }

  .addresses_left_address1_text{
    font-size: 18px;
  }


  }




  /* ПЛАНШЕТ АДАПТАЦИЯ */

@media only screen and (max-width: 1024px) and (min-width:481px) {

  #globaldata_ipad{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .addresses_left_address1{
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .myAddresses_content_addresses_left{
    margin: 0;
    -webkit-tap-highlight-color:transparent;
  }
  .address_row_style{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    margin-bottom: 10px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .address_row_style img{
    width: 10px;
    height: 10px;
  }








}




























