/* глобально для всех спанов звезд*/
.Red_star {
  color: red;
  font-size: 20px;
}

/* ГЛАВНАЯ СТРАНИЦА*/
.privateProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-width: 1409px;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  font-size: 20px;
  background: rgba(76, 201, 240, 0.04);
}

/*КОНТЕЙНЕР С КОНТЕНТОМ*/
.privateProfile_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #091d20;
  border-radius: 30px;
  padding: 0 160px;
}

/*КОНТЕЙНЕР С ШАПКОЙ */

.conteiner_shapka {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 20px 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.conteiner_shapka span {
  font-weight: 500;
  font-size: 24px;
  color: #4cc9f0;
  margin-left: 5px;
}

.conteiner_shapka p {
  font-size: 24px;
  transition: 0.2s;
}

.conteiner_shapka p:hover {
  cursor: pointer;
  color: #4cc9f0;
}

.conteiner_shapka_myProfile {
  cursor: pointer;
  color: #4cc9f0;
  transition: 0.2s;
}
.conteiner_shapka_myProfile:hover {
  cursor: pointer;
  color: #4cc9f0;
}



/* АДАПТИВНЫЙ ДИЗАЙН */
@media only screen and (max-width: 480px) {
  .privateProfile {
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: auto;
  }

  .privateProfile_container {
    padding: 0px 15px;
    border-radius: 0px;
    background-color: white;
    width: 100%;
  }

  .conteiner_shapka {
    display: none;
  }
}
