/* глобально для всех спанов звезд*/
.Red_star {
  color: red;
  font-size: 20px;
}

/* ГЛАВНАЯ СТРАНИЦА*/
.privateProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-width: 1409px;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  font-size: 20px;
  background: rgba(76, 201, 240, 0.04);
}

/*КОНТЕЙНЕР С КОНТЕНТОМ*/
.privateProfile_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #091d20;
  border-radius: 30px;
  padding: 0 160px;
}

/*КОНТЕЙНЕР С ШАПКОЙ */

.conteiner_shapka {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 20px 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.conteiner_shapka span {
  font-weight: 500;
  font-size: 24px;
  color: #4cc9f0;
  margin-left: 5px;
}

.conteiner_shapka p {
  font-size: 24px;
  transition: 0.2s;
}

.conteiner_shapka p:hover {
  cursor: pointer;
  color: #4cc9f0;
}

.conteiner_shapka_myProfile {
  cursor: pointer;
  color: #4cc9f0;
  transition: 0.2s;
}
.conteiner_shapka_myProfile:hover {
  cursor: pointer;
  color: #4cc9f0;
}

/* АДАПТИВНЫЙ ДИЗАЙН */
@media only screen and (max-width: 480px) {
  .privateProfile {
    justify-content: flex-start;
    align-items: flex-start;
    min-height: max-content;
    min-width: 100%;
    width: 100%;
    height: auto;
  }

  .privateProfile_container {
    /* padding: 0px 15px; */
    padding: 0;
    border-radius: 10px;
    background-color: white;
    width: 100%;
  }

  .conteiner_shapka {
    /* display: none; */
    margin: 0 0 0 0;
    padding: 0 15px;
    /* display: flex; */
    align-items: center;
  }
  .conteiner_shapka p {
    font-size: 20px;
    font-weight: 500;
  }
  .conteiner_shapka span {
    font-size: 20px;
    font-weight: 500;
  }
  .div_favorites {
    width: 100%;
    height: 100%;
  }
  .div_favorites_text {
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
  }
}

/*  АДАПТИВ ДЛЯ ЭКРАНОВ до 1024 px  */

@media only screen and (max-width: 1024px) and (min-width: 481px) {
  .div_favorites {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
  }
  .div_favorites_text {
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
  }

  .privateProfile {
    min-width: auto;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100%;
    height: auto;
  }
  .privateProfile_container {
    padding: 0 20px;
    width: -webkit-fill-available;
    display: flex;
  }
  .conteiner_shapka {
    margin: 20px 0 0 0;
  }
  .conteiner_shapka p {
    font-size: 16px;
  }
}
