/* ГЛАВНАЯ СТРАНИЦА*/
<<<<<<< HEAD
.privateProfile {
  display: flex;
  justify-content: center;
  min-height: 100%;
  min-width: 1440px;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  background: grey;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

/*КОНТЕЙНЕР С КОНТЕНТОМ*/
.privateProfile_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1108px;
  background: #fff;
  font-family: 'Roboto', sans-serif;

  padding: 53px 0 23px;
}

=======
.privateProfile{
    display: flex;
    justify-content: center;
    min-height: 100%;
    min-width: 1440px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    background: grey;
    font-size: 20px;
    font-family: 'Roboto', sans-serif ;
    background: rgba(76, 201, 240, 0.05);

}

/*КОНТЕЙНЕР С КОНТЕНТОМ*/
.privateProfile_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1108px;
    background: #fff;
    font-family: 'Roboto', sans-serif ;
    color: #000000;
    box-shadow: 3px 3px 52px rgba(76, 201, 240, 0.24);
    padding: 53px 0 23px;
}




>>>>>>> 739634f34a7c162cf418f6aa091644ad436262c5
/*КОНТЕЙНЕР С ШАПКОЙ */

.conteiner_shapka .shapka_h1 {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}

.conteiner_shapka {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 996px;
  height: 309px;
  margin: 53px 56px;
  font-family: 'Roboto', sans-serif;
}

/*КОНТЕЙНЕР С ШАПКОЙ ( ВЕРХНЯЯ ЧАСТЬ ) */
.conteiner_shapka_up {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

<<<<<<< HEAD
.conteiner_shapka_up div {
  justify-content: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
=======
.conteiner_shapka_up div{
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif ;
    margin: 0 22px;
>>>>>>> 739634f34a7c162cf418f6aa091644ad436262c5
}

.shapka_up_image {
}

.shapka_up_image img {
  position: static;
  width: 69px;
  height: 69px;
  left: 38px;
  top: 68px;

  background: #c4c4c4;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 5px 0;
}

.shapka_up_confirmation {
}

/*КОНТЕЙНЕР С ШАПКОЙ ( КНОПКИ ) */

.conteiner_shapka_down {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

<<<<<<< HEAD
.conteiner_shapka_down button {
  margin: 10px 10px;
  font-size: 26px;
}

/* КОНТЕЙНЕР С НАСТРОЙКОЙ */
.container_nastroika {
  display: flex;
  flex-direction: row;
  margin: 30px 0;
}

/*Настройка левой строны*/
.nastroika_left {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
}

.nastroika_left button {
  width: 150px;
  margin: 10px 10px;
  font-size: 16px;
=======
.conteiner_shapka_down span{
    margin: 0 15px;
    font-size: 28px;
}

.conteiner_shapka_down span:hover{
    cursor: pointer;
    color: #2F80ED;
}


                                /* КОНТЕЙНЕР С НАСТРОЙКОЙ */
.container_nastroika{
    display: flex;
    flex-direction: row;
    margin: 30px 0;
    color: #333333;

}

/*Настройка левой строны*/
.nastroika_left{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    font-size: 22px;
    color: #BDBDBD;
}

.nastroika_left span{
    display: flex;
    text-align: left;
    width: 145px;
    margin: 48px 10px;
    font-size: 22px;
    color: #BDBDBD;
}

.nastroika_left span:hover{
    color: #56CCF2;
    cursor: pointer;
>>>>>>> 739634f34a7c162cf418f6aa091644ad436262c5
}


/*Настройка центральной строны*/
<<<<<<< HEAD
.nastroika_center {
  width: 40%;
}

.nastroika_center input {
  width: 300px;
  height: 30px;
=======
.nastroika_center{
    width: 40%;
    font-size: 20px;
}

.nastroika_center input{
    width: 300px;
    height: 30px;

>>>>>>> 739634f34a7c162cf418f6aa091644ad436262c5
}

/*Настройка правой строны*/
<<<<<<< HEAD
.nastroika_right {
  display: flex;
  flex-direction: column;
  width: 40%;
=======
.nastroika_right{
    display: flex;
    flex-direction: column;
    width: 40%;
    font-size: 20px;
>>>>>>> 739634f34a7c162cf418f6aa091644ad436262c5
}

.nastroika_right textarea {
  width: 350px;
  height: 80px;
  outline: none;
  resize: none;
}

/* КНОПКА ОТПРАВКИ*/

.privateProfile_container .button_download {
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  justify-content: center;
  text-align: center;
}

.button_download button {
  width: 300px;
  height: 30px;
  font-size: 18px;
}
