.item-card-profile-buttons {
  display: flex;
  flex-direction: column;
}

.item-card-profile-button__edit {
  width: 214px;
  height: 38px;
  background: #4cc9f0;
  box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px 0 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #123940;
  text-decoration: none;
}

.item-card-profile-button__optional {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(9, 29, 32, 0.4);
  margin-left: 6px;
}

.item-card-profile-button-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  cursor: pointer;
}

.item-card-profile-button-image {
  width: 18px;
  height: 18px;
}

.favorites_empty {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* АДАПТИВНЫЙ ДИЗАЙН */

@media only screen and (max-width:480px){

  .container_profile_content__myItems{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    margin: 0;
    padding: 0;
    box-shadow: none;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 10px;
    margin: 15px 15px 10px;
    padding: 0;
  }
  .container_profile{
    margin-right: 0;
  }
  .item-card-profile-button__edit{
    width: auto;
    font-size: 14px;
  }
  .favorites_empty{
    height: auto;
    margin-bottom: 20px;
    font-size: 16px;
  }



}





















