/* КОРЕННЫЕ DIV */
.Catalog {
  display: flex;
  flex-direction: column;
}
.Catalog_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: auto;
  width: auto;
  padding: 0 165px;
}
.Catalog_wrapper_container {
  display: flex;
  flex-direction: column;
}

/* КОНТЕЙНЕР С КОНТЕНТОМ */
.Catalog_wrapper_container_down {
  display: flex;
  flex-direction: row;
  color: #091d20;
  box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 30px;
  background: #ffffff;
  margin-bottom: 20px;
  padding: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 30px;
}

/* ЛЕВЫЙ КОНТЕНТ */
.container_down_left {
  display: flex;
  flex-direction: column;
  width: 285px;
  margin-right: 65px;
}
.container_down_left-p {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 20px;
}
/* ГЛОБАЛЬНО ДЛЯ ВСЕХ ДИВОВ СЛЕВА В КАТЕГОРИИ и ФОТО */
.left_category_global_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  width: 250px;
  height: 40px;
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(76, 201, 240, 0.21);
}
.left_category_global_div_active {
  color: #4cc9f0;
  font-weight: 500;
}
.left_category_global_div:last-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  width: 250px;
  height: 40px;
  border-bottom: 2px solid rgba(76, 201, 240, 0.21);
  margin-bottom: 0;
}
.left_category_global_div p:hover {
  cursor: pointer;
  color: #4cc9f0;
}
.category_img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

/* ПРАВЫЙ КОНТЕНТ */
.container_down_right {
  display: flex;
  flex-direction: column;
}

#catalog_mobile{
  display: none;
}






/* АДАПТИВНЫЙ ДИЗАЙН */
@media only screen and (max-width:480px){
  #catalog_pk{
    display: none;
  }
  #catalog_mobile{
    display: flex;
  }


  /* ГЛАВНЫЙ КОНТЕЙНЕР */
  .Catalog_wrapper{
    padding: 0;
  }
  .container_down_left_burger{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 5px 0 15px;
    width: fit-content;
  }
  .container_down_left-p{
    margin: 0 5px 0 0;
    font-size: 18px;
    font-weight: 500;
  }
  .vector2_img{
    max-width: 24px;
    max-height: 24px;
    
  }
  .Catalog_wrapper_container_down{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 0 0 15px 0;
    box-shadow: none;
  }

  /*ОПИСАНИЕ КАРТОЧЕК  */
  .CatalogComponent_shapka_p{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 15px;
  }
  .left_category_global_div{
    font-size: 16px;
    margin-bottom: 15px;
  }
  .container_down_right{
    background: #FFFFFF;
  }
  .container_down_left{
    padding: 0 15px;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .left_category_global_div_p{
    border-bottom: 0px solid rgba(76, 201, 240, 0.21);
    font-size: 16px;
    width: fit-content;
  }
   

}


/* АДАПТИВ ПЛАНШЕТЫ до 1024 */
@media only screen and (max-width: 1024px) and (min-width:481px) {

  .Catalog_wrapper{
    padding: 0;
  }
  .Catalog_wrapper_container{
    width: 100%;
  }
  .container_down_left{
    margin-right: 20px;
    width: 35%;
  }
  .container_down_right{
    width: 65%;
  }
  .Catalog_wrapper_container_down{
    padding: 20px;
    width: auto;
  }
  .CatalogComponent_shapka_img{
    width: auto;
    max-width: 98%;
  }

  .CatalogComponent_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }















}








