.CatalogComponent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
/* ШАПКА КОМПОНЕНТА С ФОТО */
.CatalogComponent_shapka{
    margin-bottom: 20px;
}
.CatalogComponent_shapka_p{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
    color: #000000;
}
.CatalogComponent_shapka_img{
    width: 700px;
    height: 200px;
}

/* ЦЕНТРАЛЬНЫЙ СПИСОК */
.CatalogComponent_list{
    display: flex;
    flex-direction: row;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 40px;
}
.CatalogComponent_list_left{
    margin-right: 105px;
}
.CatalogComponent_list_left p:not(:last-child){
    margin-bottom: 10px;
}
.CatalogComponent_list_right p:not(:last-child){
    margin-bottom: 10px;
}


/* ТЕКСТ С ИНФОЙ СНИЗУ */
.CatalogComponent_informations{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(9, 29, 32, 0.77);
    width: 700px;
}

.CatalogComponent_informations p:not(:last-child){
    margin-bottom: 10px;
}
#catalog_gl_mobile{
    display: none;
  }

/* АДАПАТАЦИЯ */

@media only screen and ( max-width:480px){

    #catalog_gl_pk{
        display: none;
      }
      #catalog_gl_mobile{
        display: flex;
        flex-direction: column;
      }

    .CatalogComponent_shapka_p{
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 15px;
    }

    .CatalogComponent_shapka{
        margin: 0 0 15px 0;
    }

    .CatalogComponent{
        margin: 0;
        padding: 0;
    }

    .CatalogComponent_shapka_img{
        width: 100%;
        height: 150px;
    }

    .CatalogComponent_informations{
        width: auto;
        font-size: 13px;
        line-height: 14px;
        color: rgba(9, 29, 32, 0.77);
        padding: 30px 15px 0 15px;
    }

    .CatalogComponent_list{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    }
    .CatalogComponent_list_left{
        margin-right: 0;
    }

    .gl_div_onlyshapka{
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
        border-radius: 15px;
        padding: 15px 15px 0 15px;
    }













}





