@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", "Sans-serif";
}

html {
  background-color: #fffef9;
}

p,
input,
button {
  font-family: "Raleway", "Sans-serif";
}

.content {
  min-width: 100%;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.Main_page li {
  list-style-type: none;
  margin-bottom: 20px;
}

.footer li {
  list-style-type: none;
  margin-bottom: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 3px 3px 52px rgba(76, 201, 240, 0.14);
  align-items: center;
  padding-bottom: 15px;
}

.news-alert-block-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 51px;
  background-color: #091d20;
}

.news-alert-block {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  width: 100%;
  height: 31px;
  font-size: 14px;
  background-color: black;
}
.news-alert-p {
  color: white;
  width: "100%";
}

.header__inner {
  display: flex;
  padding: 0 160px;
}

.header-left-content {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 345px;
}

.location-img {
  margin-right: 15px;
  margin-left: 5px;
  width: 17px;
  height: 25px;
}

.laguage-selector-wrapper {
  display: flex;
  align-items: center;
}

.language-planet-img {
  margin-right: 5px;
  width: 13px;
  height: 13px;
}

.location-selector {
  display: flex;
  align-items: center;
  margin-right: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.language-selector {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-right: 30px;
}

.header-right-content {
  display: flex;
  align-items: center;
}

.header-right-content-logged-div-wrapper {
  margin-left: 30px;
}

.header-right-content-logged-div {
  display: flex;
  align-items: center;
}

.header-right-content-logged-img {
  margin-right: 20px;
}

.user-avatar-group {
  display: flex;
  align-items: center;
}

.user-avatar-group:hover {
  cursor: pointer;
}

.dropdown-profile-menu-wrapper {
  z-index: 5;
  position: absolute;
  display: inline-block;
  opacity: 0;
  pointer-events: none;
}

.dropdown-profile-menu-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 10px;
  z-index: 5;
  box-sizing: border-box;
  width: 160px;
  height: 140px;
  background: #ffffff;
  box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 5px;
}

.dropdown-profile-menu-content a {
  text-decoration: none;
}

.dropdown-profile-menu-p {
  font-size: 16px;
  line-height: 19px;
  color: #091d20;
  padding: 5px 0;
  width: 100%;
  height: 100%;
}

.dropdown-profile-menu-wrapper.active {
  opacity: 1;
  pointer-events: all;
}

.dropdown-profile-menu-p:hover {
  cursor: pointer;
}

.dropdown-profile-menu-p:hover {
  color: #4cc9f0;
}

.profile_popup_line {
  background-color: #4cc9f0;
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1px 0px;
}

.login-button {
  margin-left: 60px;
  width: 124px;
  height: 45px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  border: 2px solid #4cc9f0;
  box-sizing: border-box;
  filter: drop-shadow(3px 3px 22px rgba(114, 120, 122, 0.24));
  border-radius: 5px;
  background: transparent;
}

.login-button:hover {
  cursor: pointer;
}

.add-subject {
  width: 228px;
  height: 45px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  background: #4cc9f0;
  box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 5px;
  border: 1px solid transparent;
}

.add-subject:hover {
  cursor: pointer;
}
.add-subject2 {
  width: 228px;
  height: 45px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  background: #eecc36;
  box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 5px;
  border: 1px solid transparent;
  margin-right: 20px;
}

.add-subject2:hover {
  cursor: pointer;
}
.header-lower-table {
  position: relative;
  display: flex;
  justify-content: center;
  width: 1512px;
}

.header-lower-table-left {
  display: flex;
  align-items: center;
}

.burger-button {
  width: 30px;
  height: 23px;
}

.catalog-p {
  margin-left: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}

.search-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 787px;
  height: 60px;
  background-color: white;
}

.search-input {
  width: 635px;
  height: 45px;
  margin-left: 30px;
  padding: 0px 0px 0px 35px;
  background: #ffffff;
  border: 2px solid rgba(76, 201, 240, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 0px 22px rgba(99, 212, 248, 0.14);
  border-radius: 5px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(9, 29, 32, 0.9);
}

.search-button {
  background: url(../img/MainPage/Search.png) no-repeat center center;
  background-size: 40%;
  padding: 7.59785px;
  width: 45px;
  height: 45px;
  background-color: #4cc9f0;
  border: 1px solid transparent;
  border-radius: 3.79893px;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}

.recent-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recent-content {
  padding: 0 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", "Sans-serif";
}

.recent-p {
  margin-top: 20px;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  font-family: "Raleway", "Sans-serif";
}

.recent-blocks-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

.recent-block {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
  margin-top: 25px;
  width: 220px;
  height: 426px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 3px 3px 52px rgba(76, 201, 240, 0.14);
  border-radius: 5px;
  border: 1px solid transparent;
  font-family: "Raleway", "sans-serif";
}

.recent-block__profile {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
  width: 220px;
  height: 500px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 3px 3px 52px rgba(76, 201, 240, 0.14);
  border-radius: 5px;
  border: 1px solid transparent;
}

.recent-arrow-right {
  margin-left: 20px;
  cursor: pointer;
}

.recent-arrow-left {
  margin-right: 40px;
  cursor: pointer;
}

.recent-block-title-p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;

  color: #000000;

  margin-top: 12px;
}

.recent-marks {
  margin-top: 17px;
  justify-content: center;
  align-items: center;
}

.card-mark:not(:last-child) {
  margin-right: 22px;
}

.recent-time-cost-wrapper {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-top: 30px;
}

.recent-cost-p {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.recent-time-p {
  margin-left: 27px;
}

.recent-user-name-p {
  font-size: 18px;
  line-height: 21px;
  color: rgba(9, 29, 32, 0.8);
  margin-top: 10px;
}

.recent-location-p {
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  margin-top: 10px;
}

.recent-lower-table {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.recent-status {
  display: flex;
}

.status-img {
  margin-right: 5px;
}

.status-p {
  font-size: 16px;
  line-height: 19px;
  color: rgba(9, 29, 32, 0.8);
}

.map {
  padding: 0px 165px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.map-search {
  display: flex;
  margin-right: 300px;
  margin-top: 30px;
}

.map-input {
  width: 477.43px;
  height: 44.98px;
  background: #ffffff;
  border: 2px solid rgba(76, 201, 240, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 0px 22px rgba(99, 212, 248, 0.14);
  border-radius: 5px;
  padding: 0px 0px 0px 35px;
}

.map-button {
  background: url(../img/MainPage/Search.png) no-repeat 45px center;
  background-size: 9%;
  width: 191px;
  height: 45px;
  background-color: #4cc9f0;
  box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0px 0px 0px 35px;
}

.popular-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popular-p {
  margin-top: 20px;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
}

.popular-button {
  width: 228px;
  height: 45px;
  background: #4cc9f0;
  box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 5px;
  border: 1px solid transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.about-button-give {
  width: 193px;
  height: 43px;
  background: #f2f2f2;
  border: 1px solid #828282;
  box-sizing: border-box;
}

.abilities {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.abilities-content {
  padding: 0 165px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abilities-mail-title {
  margin-top: 40px;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 10px;
}

.abilities-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.abilities-cards-upper {
  display: flex;
  justify-content: center;
}

.abilities-card {
  padding: 20px;
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 15px;
  width: 300px;
  height: 460px;
  background: #ffffff;
  box-shadow: 3px 3px 52px rgba(76, 201, 240, 0.14);
  border-radius: 5px;
  border: 1px solid transparent;
}

.main-abilities-card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 35px;
}

.abilities-card-img {
  margin-bottom: 30px;
}

.abilities-card-p {
  width: 310px;
  height: 207px;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #123940;
}

.abilities-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.abilities-button-find-subject {
  width: 228px;
  height: 45px;
  background: #eecc36;
  box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 5px;
  border: 1px solid transparent;
  margin-right: 40px;
}

.abilities-button-give-subject {
  width: 228px;
  height: 45px;
  background: #4cc9f0;
  box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 5px;
  border: 1px solid transparent;
}

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviews-main-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.reviews-blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.reviews-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 250px;
  height: 370px;
  background: #ffffff;
  border: 2.5px solid rgba(255, 230, 109, 0.4);
  box-shadow: 3px 3px 52px rgba(76, 201, 240, 0.14);
  border-radius: 5px;
  margin-right: 17px;
  margin-left: 17px;
}

.review-img {
  margin-top: 15px;
  margin-bottom: 15px;
}

.review-name {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #123940;
}

.review-date {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 19px;
  color: rgba(9, 29, 32, 0.3);
}

.review-text {
  text-align: left;
  width: 220px;
  height: 153px;
  font-size: 16px;
  line-height: 19px;
  color: #123940;
}

.reviews-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.reviews-button-write-dev {
  width: 228px;
  height: 45px;
  background: #eecc36;
  box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 5px;
  border: 1px solid transparent;
  margin-right: 40px;
  font-weight: 500;
  font-size: 16px;
  color: #123940;
}

.reviews-button-write-review {
  width: 228px;
  height: 45px;
  background: #4cc9f0;
  box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 5px;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  color: #123940;
}

.about-content {
  padding: 0 165px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-about-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 40px;
  display: flex;
}

.about-middle-part {
  display: flex;
  justify-content: space-between;
}

.about-middle-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

.about-middle-right {
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
  line-height: 140%;
  color: #123940;
}

.about-main-p {
  width: 640px;
  height: 560px;
}

.about-lower-p {
  margin-top: 25px;
  margin-bottom: 40px;
  align-self: flex-end;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  text-align: right;
  color: #123940;
}

.news-reviews {
  display: flex;
  justify-content: center;
  padding: 20px 0px 40px;
  display: flex;
  background-color: #123940;
}

.news-reviews-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 165px;
}

.main-news-reviews-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #f7fff7;
  margin-bottom: 10px;
}

.news-reviews-blocks {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 1240px;
  overflow-x: hidden;
}

.news_slider_track {
  display: flex;
}

.news-reviews-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 349px;
  height: 180px;
  padding: 15px;
  background: #f7fff7;
  border: 1px solid rgba(76, 201, 240, 0.14);
  box-shadow: 3px 3px 52px rgba(76, 201, 240, 0.14);
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

.news-reviews-date {
  align-self: flex-start;
  font-size: 16px;
  line-height: 19px;
  color: rgba(9, 29, 32, 0.3);
  margin-bottom: 15px;
}

.news-reviews-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #123940;
  align-self: flex-start;
  margin-bottom: 15px;
}

.news-reviews-text {
  font-size: 18px;
  line-height: 21px;
  color: #123940;
}

.main-sections-content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 165px;
  margin-bottom: 40px;
}

.main-sections-first {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.main-sections-second {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  font-size: 20px;
}

.main-sections-third {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 60px;
}

.main-li {
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.main-sections-first-ul {
  margin-bottom: 50px;
  width: 470px;
  margin-left: 110px;
}

.main-sections-third-ul {
  margin-bottom: 50px;
  width: 390px;
  margin-left: 50px;
}

.main-sections-second-ul {
  width: 390px;
}

.main-sections-fourth-ul {
  width: 315px;
}

.categories_wrapper {
  display: flex;
}

.main-sections-button {
  width: 214px;
  height: 45px;
  background: #4cc9f0;
  box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 5px;
  border: 1px solid transparent;
  margin-bottom: 40px;
}

.writting-about-us-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 165px;
}

.writting-about-us-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #123940;
  margin-bottom: 45px;
  margin-top: 40px;
}

.writting-about-us-imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.writting-about-us-img {
  margin-left: 50px;
  margin-right: 50px;
  background: url(../img/MainPage/Press-back.png) no-repeat;
  padding-right: 20px;
  padding-bottom: 20px;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.writting-about-us-button {
  width: 228px;
  height: 45px;
  background: #4cc9f0;
  box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 5px;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #123940;
  margin-bottom: 40px;
}

.adv {
  background-color: rgba(9, 29, 32, 0.3);
}

.adv-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 184px;
}

.adv-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
}

.partners-content {
  padding: 0 165px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.partners-middle-part {
  display: flex;
}

.partners-images {
  display: flex;
  justify-content: center;
}

.partners-arrow-left {
  width: 14px;
  height: 24px;
  margin-right: 140px;
}

.partners-arrow-right {
  width: 14px;
  height: 24px;
  margin-left: 140px;
}

.partner-image:not(:last-child) {
  margin-right: 125px;
}

.partners-main-title {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 10px;
}

.footer-wrapper {
  background-color: #eecc36;
}

.footer-content {
  padding: 20px 165px 0 165px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.footer-first-col {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-right: 90px;
}

.footer-second-col {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-right: 90px;
}

.footer-third-col {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-right: 90px;
}

.footer-fourth-col {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-top: 40px;
  margin-right: 90px;
}

.main-footer-li {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.footer-second-ul-first {
  margin-bottom: 33px;
}

.footer-second-ul-second {
  margin-bottom: 33px;
}

.footer-socials {
  margin-bottom: 30px;
}

.footer-fifth-p {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #828282;
  margin-bottom: 25px;
}

.abilities_button {
  width: 228px;
  margin-bottom: 20px;
}

.footer-payment {
  margin-right: 2px;
  margin-left: 2px;
  display: none;
}

.footer-socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-social {
  margin-right: 30px;
}

.footer-categories-button {
  width: 153px;
  height: 40px;
  background: #4cc9f0;
  box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 5px;
  border: 1px solid transparent;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
}

.footer-lower-part {
  padding: 0 165px;
  display: flex;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 30px;
  justify-content: center;
}

.footer-img-logo-wrapper {
  margin-right: 200px;
}

.footer-lower-labels {
  display: flex;
  margin-right: 240px;
  font-weight: normal;
  font-size: 12px;
  color: #828282;
  margin-top: 65px;
}

.footer-lower-label:first-child {
  margin-right: 30px;
}

.footer-logo-p {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
}

.footer-localization-wrapper {
  display: flex;
  margin-top: 65px;
}

.footer-planet-img {
  width: 25px;
  height: 18px;
  margin-right: 5px;
}

.footer-localization-p {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #4f4f4f;
}

.recent-blocks-slider-container {
  display: flex;
  width: 1140px;
  overflow-x: hidden;
  padding: 20px;
}

.partners-slider-container {
  display: flex;
  width: 100%;
  overflow-x: hidden;
  padding: 20px;
  justify-content: center;
}
.burger-button {
  margin-right: 371px;
  cursor: pointer;
}
.burger-catalog {
  display: none;
}
.recent-block-up {
  width: 214px;
  height: 60px;
  overflow: hidden;
}

.recent-time-p {
  font-size: 16px;
  margin-left: 5px;
}
.burger_dropdown_menu {
  position: absolute;
  width: 290px;
  height: 590px;
  overflow: auto;
  overflow-x: hidden;
  background-color: white;
  left: 160px;
  top: 75px;
  box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 5px;
  padding: 10px;
  z-index: 10;
}

.main_page_first_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_page_fris_block_left_main_p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 52px;
  letter-spacing: -0.065em;
  color: #091d20;
  margin-bottom: 20px;
}

.main_page_fris_block_left_second_p {
  width: 523px;
  height: 56px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #091d20;
  margin-bottom: 20px;
}

.main_page_fris_block_left {
  margin-right: 253px;
}
.selector_header_items {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 233px;
}

.home_slider_track {
  display: flex;
  transition: 0.2s;
}

.FirstImage2 {
  display: none;
}
.about-jacket2 {
  display: none;
}
.itemcard_favorite_img {
  width: 28px;
  height: 23px;
  align-self: flex-end;
  cursor: pointer;
  margin-top: 20px;
}

.distance_wrapper {
  display: flex;
}

.swiper-wrapper {
  display: flex;
}

.footer-first-li {
  cursor: pointer;
}

.footer-second-li {
  cursor: pointer;
}

.dropdown-notify-menu-wrapper {
  z-index: 5;
  position: absolute;
  display: inline-block;
  opacity: 0;
  pointer-events: none;
  right: 50px;
}

.dropdown-notify-menu-wrapper.active {
  opacity: 1;
  pointer-events: all;
}

.dropdown-notify-menu-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 10px;
  z-index: 5;
  box-sizing: border-box;
  width: 400px;
  min-height: 140px;
  max-height: 600px;
  background: #ffffff;
  box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 5px;
}

.dropdown_notify_menu_notification_wrapper {
  padding: 5px;
  border-bottom: 1px solid rgba(76, 201, 240, 0.77);
  cursor: pointer;
}

.dropdown_notify_menu_notification_wrapper:hover{
background-color: #fbfbfb;
}

.dropdown_notify_menu_notification_wrapper {
  width: 100%;
}

.dropdown_notify_menu_notification_content {
  width: 100%;
}

.notification_upper_row {
  display: flex;
  justify-content: space-between;
}



@media (min-width: 2160px) {
  .main-sections-second-ul {
    margin-right: 0;
  }
}
#popular-button2 {
  display: none;
}
#footer-lower2 {
  display: none;
}
#map_komp {
  display: flex;
}
#header-lower-table-left2 {
  display: none;
}
#login-button2 {
  display: none;
}
#logged-div-wrapper2 {
  display: none;
}
#swiper_mobile {
  display: none;
}
#swiper_mobile_768 {
  display: none;
}
#swiper_mobile_800 {
  display: none;
}
#swiper_mobile_1024 {
  display: none;
}
#main-sections-mobile {
  display: none;
}
#map_adaptiv {
  display: none;
}
#logged-img_last_item {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
#global_ipad {
  display: none;
}
#global_1024 {
  display: none;
}
#global_ipad_1024 {
  display: none;
}

.main_page_first_block_left_bottons {
  display: flex;
  justify-content: center;
}

/* МЕДИА ЗАПРОСЫ  */

@media only screen and (max-width: 480px) and (orientation: portrait) {
  #swiper_comp_partners {
    display: none;
  }
  #global_ipad_1024 {
    display: none;
  }
  #global_ipad {
    display: none;
  }

  /* ОБЩИЙ ГЛОБАЛЬНЫЙ БЛОК */
  .wrapper {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    min-width: 320px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
  }
  /* БЛОК HEADER */

  /* БЛОК УЖЕ АВТОРИЗИРОВАННОГО ПОЛЬЗОВАТЕЛЯ */
  #logged-div-wrapper1 {
    display: none;
  }
  #logged-div-wrapper2 {
    display: flex;
  }
  .header-right-content-logged-div-wrapper {
    margin-left: 10px;
  }
  .header-right-content-logged-img {
    margin-right: 15px;
  }

  #logged-img_last_item {
    margin-right: 0;
  }

  .dropdown-profile-menu-wrapper.active {
    right: 15px;
    top: 70px;
  }
  #menuStroke {
    display: none;
  }

  /* БЛОК НЕАВТОРИЗИРОВАННОГО ПОЛЬЗОВАТЕЛЯ */
  .header {
    display: flex;
    height: auto;
    padding-bottom: 0;
  }
  .news-alert-block {
    height: auto;
    font-size: 14px;
    padding: 8px;
  }
  /* шапка хедера */
  .header__inner {
    padding: 0;
    height: auto;
    flex-wrap: wrap;
    margin: 10px 15px 0;
  }
  .header-left-content {
    margin-bottom: 15px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .location-selector {
    margin: 0;
    width: 24px;
    height: auto;
  }
  .location-p {
    display: none;
  }
  .language-selector {
    display: none;
    margin: 0;
  }
  .laguage-selector-wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    margin-left: 20px;
  }
  #logged-img_last_item {
    width: 26px;
    height: 26px;
    border-radius: 100%;
  }
  .logo {
    margin: 0;
    max-width: 121px;
    max-height: 41px;
    width: 100%;
    height: 100%;
  }
  .location-img {
    width: 17px;
    height: 22px;
    margin-right: 1px;
  }
  .language-planet-img {
    width: 22px;
    height: 22px;
  }
  #notifications {
    width: 20px;
    height: 22px;
  }
  #favorites {
    width: 22px;
    height: 20px;
  }
  /* кнопки входа и тд */
  .header-right-content {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  .login-button {
    max-width: 90px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    margin: 0 0 0 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    border: 2px solid #4cc9f0;
    box-sizing: border-box;
    filter: drop-shadow(3px 3px 22px rgba(99, 212, 248, 0.24));
    border-radius: 5px;
    background: transparent;
  }
  #login-button1 {
    display: none;
  }
  #login-button2 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 90px;
    max-height: 40px;
    width: 100%;
    height: 100%;
  }
  /* строка поиска и бургер */
  .header-lower-table {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    width: 100%;
    height: auto;
    margin: 10px 15px 20px;
  }
  .header-lower-table-left {
    width: auto;
  }
  .header-lower-table-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #123940;
  }
  #header-lower-table-left1 {
    display: none;
  }
  #header-lower-table-left2 {
    display: flex;
  }
  .burger-button {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  .burger-catalog {
    display: flex;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #123940;
  }
  .header-lower-table-right {
    width: 100%;
  }
  .search-wrapper {
    width: auto;
    margin: 0 15px;
  }
  .search-input {
    width: 404px;
    margin: 0;
    padding: 0 0 0 30px;
  }
  /* БУРГЕР МЕНЮ */
  .burger_dropdown_menu {
    top: 80px;
    left: 0;
    padding: 15px 0 15px 15px;
    background: #ffffff;
    box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
    border-radius: 0px 0px 15px 0px;
    height: auto;
    width: 325px;
  }

  /* БЛОК ПОД ШАПКОЙ */
  .recent-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    height: 100%;
    align-items: center;
    margin: 15px 15px 0 15px;
  }
  .main_page_first_content {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    height: 100%;
    width: 100%;
  }
  .main_page_fris_block_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
  }
  .main_page_fris_block_left_main_p {
    width: 100%;
    max-width: 478px;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.065em;
    margin-bottom: 10px;
  }
  .main_page_fris_block_left_second_p {
    width: 100%;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 10px;
    align-items: center;
    height: auto;
  }
  .FirstImage1 {
    display: none;
  }
  .FirstImage2 {
    display: flex;
    width: 276px;
    height: 251px;
    justify-self: center;
  }
  /* КНОПКИ ДЕФОЛТ ВЕЗДЕ */
  .main_page_first_block_left_bottons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 0;
  }
  .add-subject2 {
    max-width: 144px;
    max-height: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  .add-subject {
    max-width: 144px;
    max-height: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    background: #4cc9f0;
    box-shadow: 0.78125px 0.78125px 5.72917px rgba(99, 212, 248, 0.24);
    border-radius: 3px;
    left: 201px;
    top: 0px;
  }
  #add-subject2 {
    display: none;
  }

  /* СЛАЙДЕРА */
  #swiper_comp {
    display: none;
  }
  #swiper_mobile {
    display: flex;
    width: 100%;
  }
  #wrapper_slider {
    margin: 15px 0 5px;
  }
  .swiper-slide swiper-slide-active {
    margin-right: 10px;
    width: 150px;
  }

  /* НЕДАВНО ДОБАВЛЕННЫЕ И КАРТОЧКИ */
  .recent-p {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
  }

  /* карточки(внутренние элементы)  */
  .recent-block {
    display: flex;
    padding: 10px;
    max-width: 165px;
    width: 100%;
    height: 300px;
    margin: 10px 10px 15px;
  }
  .recent-marks {
    margin-top: 10px;
  }
  .card-mark:not(:last-child) {
    margin-right: 10px;
  }
  .block-image {
    max-width: 180px;
    max-height: 205px;
    width: 100%;
    height: 100%;
  }
  .itemcard_favorite_img {
    max-width: 25px;
    max-height: 25px;
    width: 100%;
    height: 100%;
    margin-top: 0;
  }
  .recent-block-title-p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    margin-top: 7px;
  }
  .recent-block-title-name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    margin-top: 7px;
    max-height: 50px;
    overflow-y: hidden;
  }
  .div_favorites {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .recent-time-cost-wrapper {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }
  .recent-time-p {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }
  .recent-cost-p {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }
  .recent-block-up {
    width: auto;
    overflow: visible;
  }
  /* 
  карточки(сами дивы для размещения )   */
  .swiper-wrapper {
    height: -webkit-fill-available;
  }
  .recent-content {
    margin-bottom: 0;
    width: 100%;
  }
  .recent-blocks-wrapper {
    margin: 0;
    display: flex;
    flex-direction: row;
    max-width: 480px;
    width: 100%;
    height: auto;
    padding: 0;
  }

  .recent-blocks-slider-container {
    display: flex;
    flex-direction: row;
    max-width: 480px;
    width: 100%;
    height: 370px;
    padding: 10px 0 5px 0;
    margin-top: 10px;
  }

  .home_slider_track {
    max-width: 480px;
  }
  .recent-content {
    overflow-x: hidden;
    padding: 0;
  }

  .recent-arrow-right {
    width: 20px;
    height: 20px;
    margin-left: 15px;
  }
  .recent-arrow-left {
    width: 20px;
    height: 20px;
    margin-right: 15px;
  }

  /* СЕКЦИЯ С КАРТОЙ  */
  #map_komp {
    display: none;
  }
  #map_adaptiv {
    display: flex;
    width: 100%;
  }
  .map {
    padding: 0;
    height: auto;
    max-width: 480px;
  }
  .map-input {
    width: 330px;
    padding-left: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }
  .map-search {
    margin: 10px 15px 0 15px;
    height: 45px;
  }
  .map-button {
    width: 120px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #091d20;
    padding-left: 10px;
    background: url(../img/MainPage/Search.png) no-repeat 10px center;
    background-size: 9%;
    background-color: #4cc9f0;
    box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
    border-radius: 5px;
    border: 1px solid transparent;
  }

  /* ЧАСТО АРЕНДУЕМЫЕ */
  .popular-p {
    margin: 15px 0 5px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }
  .popular-button {
    margin: 0 0 10px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    width: 215px;
    height: 50px;
  }

  /* ВОЗМОЖНОСТИ С ПЛАТФОРМОЙ ТЕКСТ */
  .abilities-mail-title {
    text-align: center;
    margin: 5px 15px 0 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }

  /* ИНФО КАРТОЧКИ С ТЕКСТОМ  */
  .abilities {
    margin-bottom: 15px;
  }
  .abilities-content {
    padding: 0;
    max-width: 480px;
  }
  .abilities-cards {
    margin: 0;
    max-width: 480px;
    color: #123940;
  }
  .abilities-card {
    margin: 15px 15px 10px 15px;
    width: 100%;
    height: auto;
    padding: 10px 10px 40px 10px;
  }
  .main-abilities-card-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #123940;
    margin: 0;
  }
  .abilities-card-img {
    width: 56px;
    height: 56px;
    margin: 10px 0;
  }
  .abilities-card-p {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 0 0;
    width: auto;
    height: auto;
  }

  /* КНОПКИ ПОД КАРТОЧКАМИ ОПИСАНИЙ  */
  .abilities-buttons {
    max-width: 480px;
    margin: 10px 15px 20px 15px;
  }
  .abilities-button-find-subject {
    width: 205px;
    height: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #091d20;
  }
  .abilities-button-give-subject {
    width: 205px;
    height: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #091d20;
  }

  /* ОТЗЫВЫ О НАС ТЕКСТ */
  .reviews-main-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #091d20;
    margin: 0 0 10px 0;
  }
  .reviews-blocks {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 20px 0;
  }
  /* отзывы о нас ( карточки отзывов) */
  .reviews-block {
    width: 190px;
    height: 265px;
    padding: 10px;
    margin: 10px;
  }
  .review-img {
    width: 50px;
    height: 50px;
  }
  .review-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #123940;
  }
  .review-date {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: rgba(9, 29, 32, 0.4);
  }
  .review-text {
    width: auto;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #123940;
  }

  /* КНОПКИ ПОД ОТЗЫВАМИ  */
  .reviews-buttons {
    max-width: 480px;
    margin: 10px 15px 20px 15px;
  }
  .reviews-button-write-dev {
    width: 205px;
    height: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #091d20;
  }
  .reviews-button-write-review {
    width: 205px;
    height: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #091d20;
  }

  /* О нашем сервисе */
  .about-content {
    padding: 0 15px;
    align-items: center;
  }
  .main-about-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;
  }
  .main-about-title {
    width: auto;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-top: 15px;
  }
  .about-jacket {
    display: none;
  }
  .about-jacket2 {
    display: flex;
    width: 107px;
    height: 167px;
    float: left;
    margin-right: 20px;
  }
  .about-middle-part {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 480px;
    width: 100%;
  }
  .about-middle-left {
    margin: 0;
    align-items: flex-start;
    height: 0;
  }
  .about-middle-right {
    max-width: 480px;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
  }
  .about-main-p {
    width: auto;
    height: auto;
  }
  .about-lower-p {
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    margin: 20px 0 15px 0;
  }

  /* НОВОСТИ И ОБЗОРЫ */
  .news-reviews {
    width: 100%;
    height: auto;
    padding: 20px 0 0 0;
  }
  .news-reviews-content {
    width: 100%;
    padding: 0;
  }
  .news-reviews-blocks {
    margin: 0;
    width: 100%;
  }

  .main-news-reviews-title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #f7fff7;
    margin-bottom: 15px;
    height: auto;
  }
  .news-reviews-block {
    width: auto;
    min-height: 175px;
    margin-bottom: 35px;
  }
  .news-reviews-text {
    margin-bottom: 10px;
  }

  /*  КАТЕГОРИИ ПЕРЕД ПОДВАЛОМ */
  #main-sections-mobile {
    display: flex;
  }
  #main-sections-pk {
    display: none;
  }
  .main-sections {
    margin: 15px;
  }
  .main-sections-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    max-width: 480px;
    align-items: center;
    justify-content: center;
  }
  .categories_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  /*  первый блок на 4 раздела */
  .Main_page li {
    margin-bottom: 10px;
    line-height: 21px;
    width: fit-content;
    display: flex;
    justify-content: center;
  }
  /* 1 */
  .main-sections-first {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
    height: auto;
  }
  .main-sections-first-ul {
    width: 45%;
    margin-bottom: 20px;
    /* margin-right: 10px; */
    margin-left: 0;
  }
  .main-section-first-li {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  }
  .main-section-first-li.main-li {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    width: fit-content;
  }

  /* 2 */
  .main-sections-second-ul {
    width: 45%;
    margin-bottom: 20px;
  }
  .main-sections-second-li.main-li {
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    color: #000000;
  }
  .main-sections-second-li {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  }
  /* 3 */
  .main-sections-third-ul {
    width: 140px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 0;
  }
  .main-sections-third-li.main-li {
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    color: #000000;
  }
  .main-sections-third-li {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  }

  /* 4 */
  .main-sections-fourth-ul {
    width: 140px;
    margin-bottom: 20px;
  }
  .main-sections-fourth-li.main-li {
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    color: #000000;
  }
  .main-sections-fourth-li {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  }

  /*  второй блок на 4 раздела */
  .main-sections-second {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
    height: auto;
  }

  /*  третий блок на 4 раздела */
  .main-sections-third {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
    height: auto;
  }

  /* ФУТЕР */
  .footer {
    display: flex;
  }
  .footer-wrapper {
    background: #eecc36;
  }
  .footer-content {
    max-width: 480px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
  }
  /* блок 1 */
  .footer-first-col {
    width: 140px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #123940;
    margin-right: 0;
  }
  .footer-first-li.main-footer-li {
    font-size: 16px;
  }

  /* блок 2 */
  .footer-second-ul-first {
    width: 140px;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .footer-second-ul-second {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .footer-second-col {
    margin-right: 0;
  }

  /* блок 3 */
  .footer-third-col {
    width: 140px;
    margin-top: 10px;
    margin-right: 0;
  }

  /* блок 4 */
  .footer-fourth-col {
    width: 140px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 0;
  }

  /* Кнопка под блоками */
  #popular-button1 {
    display: none;
  }

  /* соц иконки под кнопком */

  .footer-socials {
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .footer-fifth-p {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(9, 29, 32, 0.4);
  }

  /* НИЖНЯЯ СТРОКА ФУТЕРА */
  #footer-lower1 {
    display: none;
  }
  #footer-lower2 {
    display: flex;
  }
  .footer-lower-part {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin: 5px 15px 10px;
    padding: 0;
  }
  .footer-lower-labels {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0;
  }
  .footer-lower-label {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: rgba(9, 29, 32, 0.4);
    width: fit-content;
  }
  .footer-lower-label:first-child {
    margin: 0 0 10px 0;
    width: fit-content;
  }

  .footer-img-logo-wrapper_gl {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  .footer-img-logo-wrapper {
    margin-right: 0;
  }
  .footer-img-logo {
    max-width: 140px;
    width: 100%;
    max-height: 48px;
    margin-right: 40px;
  }
  .footer-planet-img {
    max-width: 25px;
    width: 100%;
    max-height: 18px;
  }
  .foooter-right_item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #location-selector2 {
    margin: 0 10px 0 0;
  }
  .footer-localization-wrapper {
    margin: 0;
  }
  .footer-localization-p {
    margin-right: 15px;
  }

  .recent-block {
    height: 290px;
  }

  /* карточка в Я СДАЮ */
  .recent-block__profile {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    margin: 0;
    padding: 10px 5px;
    height: 450px;
    margin-bottom: 20px;
    height: 420px;
  }
  .recent-block-wrapper {
    display: flex;
    /* margin-bottom: 10px; */
  }
  .recent-block-wrapper-gl {
    display: flex;
    width: 48%;
  }
  #recent-block-wrapper-gl {
    display: flex;
    /* width: 48%; */
  }

  .profile_popup_line {
    margin: 1px 0px;
  }

  .selector_header_items {
    width: 70px;
  }
  .onlydiv_forcards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;
  }

  .abilities-cards-upper {
    flex-wrap: wrap;
  }
  .footer li {
    line-height: 17px;
  }

  .partners-content {
    padding: 0;
  }

  .partners-main-title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .partners-slider-container {
    display: flex;
    flex-direction: row;
    max-width: 480px;
    width: 100%;
    min-height: 150px;
    height: auto;
    padding: 10px 0 5px 0;
    margin-top: 0;
  }
  .partners-content {
    margin-bottom: 0;
  }
}

/*  АДАПТИВ ДЛЯ ЭКРАНОВ до 1024 px  */

@media only screen and (max-width: 1024px) and (min-width: 481px) {
  #global_ipad {
    display: flex;
  }
  #swiper_mobile_800 {
    display: flex;
  }
  #map_komp {
    display: none;
  }
  #swiper_comp_partners {
    display: none;
  }
  #info_block {
    display: none;
  }
  #main-sections-pk {
    display: none;
  }
  #global_ipad_1024 {
    display: none;
  }

  /* header */
  .header__inner {
    display: flex;
    width: auto;
    justify-content: space-between;
    padding: 0 20px;
    width: -webkit-fill-available;
  }
  .logo {
    max-width: 200px;
    width: 80%;
    margin: 0;
  }
  .selector_header_items {
    width: auto;
  }
  .add-subject {
    max-width: 228px;
    min-width: 180px;
    width: -webkit-fill-available;
  }
  .add-subject2 {
    max-width: 228px;
    min-width: 180px;
  }
  .header-lower-table {
    width: -webkit-fill-available;
    justify-content: space-between;
    padding: 0 20px;
  }
  .burger-button {
    margin-right: 0;
  }
  .burger_dropdown_menu {
    width: auto;
    left: 10px;
  }
  .search-wrapper {
    width: auto;
  }
  .search-input {
    width: 500px;
  }

  /* БОЛЬШОЕ ЛОГО И КНОПКИ  */
  .recent-wrapper {
    padding: 0 20px;
    width: -webkit-fill-available;
    justify-content: space-between;
  }
  .main_page_first_content {
    width: 100%;
  }
  .main_page_fris_block_left {
    margin: 0;
    width: 60%;
  }
  .FirstImage1 {
    width: 40%;
  }

  /*  СЛАЙДЕРА БЛОК */
  .recent-content {
    padding: 0;
    width: 100%;
  }
  .recent-blocks-slider-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 545px;
    padding: 10px 0 5px 0;
    margin-top: 10px;
    margin: 20px 0 15px 0;
  }
  .recent-block {
    cursor: pointer;
    width: auto;
    max-width: 200px;
    margin: 20px 5px;
    height: 450px;
  }
  #wrapper_slider {
    padding: 0;
  }
  .recent-blocks-wrapper {
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 0;
  }
  .recent-block-title-name {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 19px;
    color: #000000;
    margin-top: 10px;
    max-height: 55px;
    overflow-y: hidden;
  }
  .recent-block-up {
    width: auto;
    overflow: visible;
    height: auto;
  }
  .recent-time-cost-wrapper {
    margin-top: 10px;
  }
  .recent-block-title-p {
    margin-top: 30px;
  }

  /* header */
  .header__inner {
    display: flex;
    width: auto;
    justify-content: space-between;
    padding: 0 20px;
    width: -webkit-fill-available;
  }
  .logo {
    max-width: 200px;
    width: 80%;
    margin: 0;
  }
  .selector_header_items {
    width: auto;
  }
  .add-subject {
    max-width: 228px;
    min-width: 180px;
    width: -webkit-fill-available;
  }
  .add-subject2 {
    max-width: 228px;
    min-width: 180px;
  }
  .header-lower-table {
    width: -webkit-fill-available;
    justify-content: space-between;
    padding: 0 20px;
  }
  .burger-button {
    margin-right: 0;
  }
  .burger_dropdown_menu {
    left: 10px;
  }
  .search-wrapper {
    width: auto;
  }
  .search-input {
    width: 500px;
  }

  /* БОЛЬШОЕ ЛОГО И КНОПКИ  */
  .recent-wrapper {
    padding: 0 20px;
    width: -webkit-fill-available;
    justify-content: space-between;
  }
  .main_page_first_content {
    width: 100%;
  }
  .main_page_fris_block_left {
    margin: 0;
    width: 60%;
  }
  .FirstImage1 {
    width: 40%;
  }

  /*  СЛАЙДЕРА БЛОК */
  .recent-content {
    padding: 0;
    width: 100%;
  }
  .recent-blocks-slider-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 545px;
    padding: 10px 0 5px 0;
    margin-top: 10px;
    margin: 20px 0 15px 0;
  }
  .recent-block {
    cursor: pointer;
    width: auto;
    max-width: 200px;
    margin: 20px 5px;
    height: 450px;
  }
  #wrapper_slider {
    padding: 0;
  }
  .recent-blocks-wrapper {
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 0;
  }
  .recent-block-title-name {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 19px;
    color: #000000;
    margin-top: 10px;
    max-height: 55px;
    overflow-y: hidden;
  }
  .recent-block-up {
    width: auto;
    overflow: visible;
    height: auto;
  }
  .recent-time-cost-wrapper {
    margin-top: 10px;
  }
  .recent-block-title-p {
    margin-top: 30px;
  }

  /* карта */
  .map {
    padding: 0;
    height: auto;
  }

  /* Под слайдерами блок о проекте */
  #abilities_upper {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
  }
  .abilities {
    margin-bottom: 30px;
  }
  .abilities-content {
    padding: 0;
    width: 100%;
  }
  .abilities-mail-title {
    margin-top: 20px;
    font-size: 32px;
  }
  .abilities-cards-upper {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .abilities-cards {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .abilities-card {
    margin-top: 30px;
  }
  .abilities-card-img {
    width: 100px;
  }
  .main_page_first_block_left_bottons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }

  /*  О НАШЕМ СЕРВИСЕ */
  .about-content {
    padding: 0 20px;
  }
  .about-middle-part {
    flex-direction: column;
  }
  .about-middle-left {
    margin: 0;
  }
  .about-main-p {
    width: 100%;
    height: auto;
  }

  /* НОВОСТИ */
  .news-reviews {
    width: 100%;
    height: auto;
    padding: 20px 0;
  }
  .news-reviews-content {
    width: 100%;
    padding: 0;
  }
  .news-reviews-blocks {
    margin: 0;
    width: 100%;
  }
  .news-reviews-block {
    margin-bottom: 45px;
  }
  .main-news-reviews-title {
    font-size: 32px;
    margin-bottom: 15px;
  }

  /* категории под новостями */
  .main-sections-content {
    width: auto;
    padding: 0 20px;
    margin-bottom: 30px;
  }
  .categories_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .main-sections-first-ul {
    margin-left: 0;
    width: 30%;
  }
  .main-sections-second-ul {
    margin-left: 0;
    width: 30%;
  }
  .main-sections-third-ul {
    margin-left: 0;
    width: 30%;
  }
  .popular-button {
    margin-top: 10px;
  }

  /* КОНТЕНТ ФУТЕРА */
  .footer-content {
    padding: 20px;
    flex-wrap: wrap;
  }
  .footer-lower-part {
    padding: 0 20px;
    margin: 0 0 20px 0;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-img-logo-wrapper {
    margin-right: 0;
  }
  .footer-img-logo {
    width: 145px;
  }
  .footer-lower-labels {
    margin-top: 0;
    margin-right: 0;
    width: 300px;
  }
  .footer-localization-wrapper {
    margin-top: 0;
  }

  /* БОЛЬШОЕ ЛОГО И КНОПКИ  */
  .recent-wrapper {
    padding: 0 20px;
    width: -webkit-fill-available;
    justify-content: space-between;
  }
  .main_page_first_content {
    display: flex;
    align-items: flex-end;
    width: 100%;
  }
  .main_page_fris_block_left {
    margin: 0;
    width: 63%;
  }
  .FirstImage1 {
    width: auto;
    min-width: 200px;
    max-width: 285px;
  }

  /*  СЛАЙДЕРА БЛОК */
  .recent-content {
    padding: 0;
    width: 100%;
  }
  .recent-blocks-slider-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 540px;
    padding: 10px 0 5px 0;
    margin-top: 10px;
    margin: 20px 0 20px 0;
  }
  .recent-block {
    cursor: pointer;
    width: auto;
    max-width: 200px;
    margin: 20px;
  }
  #wrapper_slider {
    padding: 0;
  }
  .recent-blocks-wrapper {
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 0;
  }

  /* карта */
  .map {
    padding: 0;
    width: 100%;
  }

  /* Под слайдерами блок о проекте */
  .abilities-content {
    padding: 0;
    width: 100%;
  }
  .abilities-mail-title {
    margin-top: 30px;
    font-size: 32px;
  }
  .abilities-cards-upper {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .abilities-cards {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .main_page_first_block_left_bottons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }

  /*  О НАШЕМ СЕРВИСЕ */
  .about-content {
    padding: 0 20px;
  }
  .about-middle-part {
    flex-direction: column;
  }
  .about-middle-left {
    margin: 0;
  }
  .about-main-p {
    width: 100%;
    height: auto;
  }

  /* НОВОСТИ */
  .news-reviews {
    width: 100%;
    height: auto;
    padding: 20px 0;
  }
  .news-reviews-content {
    width: 100%;
    padding: 0;
  }
  .news-reviews-blocks {
    margin: 0;
    width: 100%;
  }
  .news-reviews-block {
    margin-bottom: 45px;
  }
  .main-news-reviews-title {
    font-size: 32px;
    margin-bottom: 15px;
  }

  /* категории под новостями */
  .main-sections-content {
    width: auto;
    padding: 0 20px;
    margin-bottom: 30px;
  }
  .categories_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .main-sections-first-ul {
    margin-left: 0;
    width: 30%;
  }
  .main-sections-second-ul {
    margin-left: 0;
    width: 30%;
  }
  .main-sections-third-ul {
    margin-left: 0;
    width: 30%;
  }
  .popular-button {
    margin-top: 0;
  }

  /* КОНТЕНТ ФУТЕРА */
  .footer-content {
    padding: 20px;
    flex-wrap: wrap;
  }
  .footer-lower-part {
    padding: 0 20px;
    margin: 0 0 20px 0;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-img-logo-wrapper {
    margin-right: 0;
  }
  .footer-img-logo {
    width: 145px;
  }
  .footer-lower-labels {
    margin-top: 0;
    margin-right: 0;
    width: 300px;
  }
  .footer-localization-wrapper {
    margin-top: 0;
  }

  /* партнёрки */
  #swiper_comp {
    display: none;
  }
  .partners-content {
    margin-bottom: 20px;
    padding: 0;
  }
  .partners-main-title {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .partners-slider-container {
    width: -webkit-fill-available;
    padding: 10px 20px;
    min-height: 130px;
    height: auto;
  }
  /* футер */
  .footer li {
    margin-bottom: 15px;
  }

  /* КАРТОЧКИ ИЗ Я СДАЮ В ПРОФИЛЕ */

  .recent-block__profile {
    margin: 10px;
  }
  .recent-cost-p {
    width: 103px;
    overflow-x: hidden;
  }
}

@media only screen and (width: 768px) {
  #swiper_mobile_768 {
    display: flex;
  }
  #swiper_comp {
    display: none;
  }
}

@media only screen and (width: 1024px) {
  #swiper_mobile_1024 {
    display: flex;
  }
  #swiper_comp {
    display: none;
  }
}

/* ipad 1024 only */
@media only screen and (width: 1024px) {
  #swiper_comp {
    display: none;
  }
  #global_ipad {
    display: none;
  }

  #global_ipad_1024 {
    display: flex;
  }
}
