/* ОБЩИЙ ФАЙЛ*/
.PublicProfile {
  display: flex;
  flex-direction: column;
}
.PublicProfile_Wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: auto;
  width: auto;
  padding: 0 165px;
  align-items: center;
}
/* КОНТЕЙНЕР С КОНТЕНТОМ*/
.PublicProfile_Wrapper_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  margin: 20px 0;
  color: #091d20;
  box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 30px;
  background: #ffffff;
  font-size: 18px;
  font-weight: 400;
  width: 1150px;
}
/* { ВЕРХНЯЯ ЧАСТЬ КОНТЕЙНЕРА } */
.container_up {
  margin-bottom: 20px;
  width: 100%;
}
/* ДО АВАТАРКИ */
.container_up_header {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.header_up {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.header_up-p1 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 500;
}
.header_down {
  margin-bottom: 10px;
  color: #f5d32c;
}
/* КОНТЕНТ С АВАТАРКОЙ*/
.up_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}
.up_global_margin:not(:last-child) {
  margin-right: 63px;
  align-items: center;
}
.up_global_alight {
  display: flex;
  flex-direction: row;
}

/* { ПОСЛЕ  АВАТАРКИ РАЗДЕЛ } */
.container_up_footer {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.footer_btn1 {
  width: 228px;
  height: 45px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 5px;
  background: #eecc36;
  margin-right: 30px;
  border-color: #eecc36;
}
.footer_btn2 {
  width: 228px;
  height: 45px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 3px 3px 22px rgba(99, 212, 248, 0.24);
  border-radius: 5px;
  background: #4cc9f0;
  border-color: #4cc9f0;
}

/* { НИЖНЯЯ ЧАСТЬ КОНТЕЙНЕРА} */
.container_down {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container_down_header {
  display: flex;
  flex-direction: row;
  font-size: 22px;
  margin-bottom: 20px;
}
.down_header_text1 {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
  cursor: pointer;
}
.down_header_text1-p2 {
  margin-left: 5px;
  color: #eecc36;
  cursor: pointer;
}
.down_header_p2 {
  cursor: pointer;
  margin-left: 40px;
}

.down_header_text1-p1 {
  cursor: pointer;
}

/* НАВОДКА НА СЛОВА */

.down_header_text1-p1_active {
  color: #4cc9f0;
}

.down_header_p1_active {
  color: #4cc9f0;
}

.down_header_p2_active {
  margin-left: 40px;
  color: #4cc9f0;
}

/* БЛОК ДЛЯ ПОДКЛЮЧАЕМЫХ КОМПОНЕНТОВ */
.down_content {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}
.down_content_cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.cards_margin {
  margin-right: 60px;
  width: 25%;
}

.img_social {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 7px;
}

.down_header_p2_active {
  margin-left: 40px;
  color: #4cc9f0;
}

.list_span_right {
  text-align: right;
  width: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* АДАПТИВ */

@media only screen and (max-width: 480px) {
  .PublicProfile_Wrapper {
    padding: 0;
    width: 100%;
  }
  .PublicProfile_Wrapper_container {
    /* padding: 10px 15px 15px 15px; */
    padding: 10px 0 15px;
    margin: 0;
    border-radius: 0;
    width: -webkit-fill-available;
  }
  .up_content {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    margin: 0 15px;
  }
  .container_up {
    margin-bottom: 5px;
  }
  .up_global_margin:not(:last-child) {
    margin-right: 0;
    width: 58%;
  }
  .up_global_margin {
    width: 58%;
  }
  .up_global_margin2 {
    width: 37%;
  }
  /* аватарка и справа от нее  */
  .up_content_rowstyle {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .block_down_owner_photo {
    margin-bottom: 0;
    margin-right: 15px;
    width: 82px;
    height: 82px;
    width: 100%;
  }
  .header_up {
    margin-right: 0;
  }
  .header_up-p1 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 5px;
  }
  .header_up-p2 {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }
  .header_down {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0;
    margin-left: 10px;
  }
  .container_up_header {
    margin-bottom: 10px;
  }
  .img_star:not(:last-child) {
    width: 16px;
    height: 16px;
  }
  .img_star:last-child {
    width: 16px;
    height: 16px;
  }
  .block_down_star-p {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    margin-top: 5px;
  }
  .telephone_row2_time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  /* соц сети и телефоны */
  .up_global_alight {
    flex-direction: column;
    width: 100%;
  }
  .up_content_rowstyle_telephone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 15px 0 5px 0;
  }
  .telephone_row1 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
  .telephone_row2 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
  }
  .block_down_telephone-p2 {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }
  .block_down_online-p1 {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }
  .block_down_online-p1_1 {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }
  .block_down_online-p2 {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }
  .block_down_online-p2_2 {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }
  .img_social {
    width: 26px;
    height: 26px;
    margin: 0;
    margin-right: 15px;
  }
  .block_down_star {
    margin-bottom: 15px;
  }
  .block_down_online {
    margin-bottom: 0;
  }
  .block_down_telephone {
    margin-bottom: 0;
  }
  /* КНОПКИ ОТПРАВИТЬ и ОТЗЫВ */
  .container_up_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 15px 15px 15px;
    width: auto;
  }
  .footer_btn1 {
    width: 57%;
    font-size: 14px;
    line-height: 16px;
    margin-right: 0;
    background: #eecc36;
    opacity: 1;
  }
  .footer_btn2 {
    width: 40%;
    font-size: 14px;
    line-height: 16px;
    background: #4cc9f0;
    opacity: 1;
  }

  /* сдает о себе и адреса */
  .container_down_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    margin: 0 15px 15px 15px;
  }
  .down_header_text1 {
    margin: 0;
  }

  /* 1 - адреса  */
  .down_content {
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0;
  }

  /* 2 - сдаёт */
  .down_content_cards {
    width: auto;
    justify-content: space-between;
  }
  .public_aboutme_address {
    width: 100%;
    margin: 0 15px;
  }
}

/*  IPAD */

@media only screen and (max-width: 1024px) and (min-width: 481px) {
  #globaldata_ipad {
    display: flex;
  }

  .list_span_right {
    text-align: inherit;
    margin-left: 20px;
  }
  .PublicProfile_Wrapper_container {
    width: -webkit-fill-available;
  }

  .PublicProfile_Wrapper {
    padding: 0;
  }
  .PublicProfile_up_right {
    display: flex;
  }
  .header_up {
    margin-right: 15px;
  }
  .up_content {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(76, 201, 240, 0.77);
  }
  .up_content_rowstyle {
    display: flex;
    flex-direction: row;
    margin-right: 40px;
  }
  .up_global_margin:not(:last-child) {
    margin-right: 50px;
  }
  .block_down_owner_photo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  .conditions_row {
    display: none;
  }
  .container_up_header {
    margin-bottom: 0;
  }
  .header_up-p1 {
    margin-bottom: 0;
  }
  .header_down {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .up_global_alight {
    display: flex;
    flex-direction: column-reverse;
  }
  .up_content_rowstyle_telephone {
    display: flex;
    flex-direction: row;
  }
  .block_down_telephone {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  /* .telephone_row1{
    justify-content: space-between;
  } */
  .block_down_online {
    margin-bottom: 0;
  }
  .block_down_telephone {
    margin-bottom: 0;
  }
  .telephone_row2 {
    margin-bottom: 5px;
  }

  /* контент под шапкой */
  .down_content_cards {
    justify-content: space-around;
  }
  .down_content {
    margin-bottom: 0;
  }
}
