.reviews_form {
  display: flex;
  flex-direction: column;
  width: 650px;
  height: auto;
  background: #ffffff;
  border-radius: 30px;
  transform: scale(0.9);
  padding: 20px;
  align-self: center;
}

.reviews_modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(76, 201, 240, 0.77);
  padding-bottom: 10px;
  box-sizing: border-box;
}

.reviews_main_title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #091d20;
}

.reviews_mark_wrapper {
  display: flex;
  margin-top: 35px;
  align-items: center;
}

.reviews_mark_p {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #091d20;
  margin-right: 30px;
}

.reviews_stars_wrapper {
  display: flex;
}

.reviews_stars_wrapper img {
  margin-right: 10px;
  cursor: pointer;
}

.reviews_owner_review_wrapper {
  display: flex;
  margin-top: 35px;
  align-items: flex-start;
  justify-content: space-between;
}

.reviews_owner_review_p {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #091d20;
}

.reviews_owner_review_textarea {
  padding: 10px;
  width: 375px;
  height: 140px;
  background: #ffffff;
  border: 1.31722px solid rgba(9, 29, 32, 0.4);
  box-sizing: border-box;
  border-radius: 6.5861px;
  resize: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: black;
  outline: none;
}

.reviews_item_review_wrapper {
  display: flex;
  margin-top: 35px;
  align-items: flex-start;
  justify-content: space-between;
}

.reviews_item_review_p {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #091d20;
}

.reviews_item_review_textarea {
  padding: 10px;
  width: 375px;
  height: 140px;
  background: #ffffff;
  border: 1.31722px solid rgba(9, 29, 32, 0.4);
  box-sizing: border-box;
  border-radius: 6.5861px;
  resize: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: black;
  outline: none;
}

.reviews_buttons_wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.reviews_button_cancel {
  width: 182px;
  height: 45px;
  background: #ffffff;
  border: 2px solid #4cc9f0;
  box-sizing: border-box;
  box-shadow: 3px 3px 52px rgba(76, 201, 240, 0.14);
  border-radius: 3.79893px;
  box-sizing: border-box;
  margin-right: 10px;
  cursor: pointer;
}

.reviews_button_send {
  width: 182px;
  height: 45px;
  background: #4cc9f0;
  border-radius: 3.79893px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}
