.footer_pages_main_title {
  margin-bottom: 50px;
}

.footer_pages_main_p {
  font-size: 18px;
  margin-bottom: 20px;
}

.footer_pages_underline {
  font-size: 18px;
  text-decoration: underline;
  margin-bottom: 20px;
}
