.footer_pages_main_title {
  margin-bottom: 24px;
  margin-top: 30px;
}

.footer_pages_main_p {
  font-size: 18px;
  margin-bottom: 20px;
}

.footer_pages_underline {
  font-size: 18px;
  text-decoration: underline;
  margin-bottom: 20px;
}

@media only screen and (max-width: 480px) {
  .footer_pages_main_title{
    margin-top: 0;
    font-size: 22px;
  }
  .footer_pages_main_p{
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 20px;
  }
























}
